<ion-content scrollEvents="true" (ionScroll)="scrollPosition($event)">
    <ion-grid>

    <!-- Header -->
    <ion-row id="header-wrapper" class="ion-justify-content-center">
        <ion-col 
            class="ion-align-items-center" 
            id="header-background-photo" >
            <div id="welcome-popup">
                <div class="ion-text-center">
                    <h1 style="color: white;">Welcome to the Site!</h1>
                </div>

                <!-- Searchbar -->
                <ion-searchbar
                    placeholder="Search for Product Titles"
                    (ionFocus)="searchingOn()"
                    (ionBlur)="searchingOff($event)"
                    (ionChange)="searchUpdate($event)"
                    #searchBar
                    showCancelButton="true"
                    showClearButton="true"
                ></ion-searchbar>

                <!-- Search List -->
                <ion-list id="search-results-list" *ngIf="this.searching">
                    <ion-item lines="none">
                        <ion-spinner></ion-spinner>
                    </ion-item>
                    <ion-item lines="none" *ngIf="this.dynanimcSearchArray.length == 0 && this.searching == true">
                        No Results with that search. Try again.
                    </ion-item>

                    <!-- Search Results -->
                    <ion-item
                        class="search-item" 
                        lines="none" 
                        detail="true"
                        *ngFor="let results of this.dynanimcSearchArray"
                        (click)="this.goToProductPageSearchBar(results._id, searchBar)">
                        <ion-avatar slot="start">
                            <img src="{{results.picture}}" />
                          </ion-avatar>
                        <ion-label>
                            <h2>{{results.title}} <span class="search-results-type">MP3</span></h2>
                            <h2 class="search-results-price">${{results.price}}</h2>
                        </ion-label>
                        <div class="spacer-2x"></div>
                    </ion-item>
                </ion-list>

                <!-- Try Sample Message -->
                <div class="ion-text-center">
                    <div class="spacer-2x"></div>
                    <hr id="landing-sample-divider">
                    <h4 id="landing-sample-message">Try out a sample track!</h4>
                    <div class="spacer-2x"></div>
                    <ion-icon id="landing-sample-icon" color="dark" name="musical-notes-outline"></ion-icon>
                    <div class="spacer-1x"></div>
                  
                </div>
                <div class="spacer-2x"></div>

                <!-- Play Sample Button -->
                <ion-button id="landing-sample-button" (click)="playSample(this.sampleButtonIcon)">
                    <ion-icon slot="start" name="Play" ></ion-icon>
                    Play
                </ion-button>

                <div class="spacer-2x"></div>
                <hr *ngIf="!this.authState" id="landing-sample-divider">
                <div *ngIf="!this.authState" class="spacer-2x"></div>

                <!-- Header Onboarding Buttons -->
                <ion-row *ngIf="!this.authState" id="header-onboarding-buttons">
                    <ion-col size="6">
                        <ion-button (click)="login()">
                            Login
                        </ion-button>
                        <div class="spacer-2x"></div>   
                    </ion-col>
                    <ion-col size="6">
                        <ion-button color="success" (click)="register()">
                            Register
                        </ion-button>     
                    </ion-col>
                </ion-row>
                <!-- Sample Track -->
                <div id="landing-sample-track">

                <div class="spacer-1x"></div>
                <div *ngIf="this.sampleToggle" id="landing-sample-timer" class="ion-text-center">
                <div class="spacer-3x"></div>
                <h3 style="color: #fff;">0:0{{sampleDuration}} / 0:20</h3>
                <ion-progress-bar  type="{{this.sampleProgressBarType}}"></ion-progress-bar>
                </div>
                <div class="spacer-2x"></div>

                <!-- Volume -->
                <div *ngIf="this.sampleToggle" id="landing-volume-track">
                <div class="spacer-1x"></div>
                <h5>Volume</h5>
                <ion-icon #decreaseVolumeButton (click)="decreaseVolume(decreaseVolumeButton)" class="sample-volume-button" name="arrow-down-circle-outline"></ion-icon>
                <ion-icon #inecreaseVolumeButton (click)="increaseVolume(inecreaseVolumeButton)" class="sample-volume-button" name="arrow-up-circle-outline"></ion-icon>
                <div class="spacer-1x"></div>
                
                <ion-progress-bar value="{{this.sampleMasterVolume}}"></ion-progress-bar>
                <div class="spacer-1x"></div>
                </div>
                <div class="spacer-5x"></div>
                </div>
            </div>
        </ion-col>
    </ion-row>

    <!-- Latest Products -->

    <!-- Products Header -->
    <div class="spacer-5x"></div>
    <div class="spacer-5x"></div>
    <ion-row class="ion-hide-lg-down ion-justify-content-center">
        <ion-col size-lg="7">
            <ion-toolbar>
                <ion-buttons slot="start">
                    <h2>
                        <ion-icon slot="start" name="pricetag"></ion-icon>
                        Featured Products
                        <span class="file-type">MP3</span>
                    </h2>
                </ion-buttons>
                <ion-buttons slot="end">
                    <ion-button class="view-all-button"  (click)="goToProductsPage()">
                        View All
                        <ion-icon slot="start" name="arrow-forward-outline" class="ion-float-right"></ion-icon>
                    </ion-button>
                </ion-buttons>
            </ion-toolbar>
        </ion-col>
    </ion-row>

    <!-- Products -->
    <ion-row class="ion-justify-content-center ion-hide-lg-down">
        <ion-col size="7">
            <ion-row>
                <ion-col size-lg="6" size-xl="4" *ngFor="let featuredProduct of this.landingFeaturedProducts">
                    <ion-row
                        class="landing-product-wrapper ion-justify-content-center">
                        <ion-col class="product-photo" size="6"
                              (click)="goToProductPage(featuredProduct._id, searchBar)">
        
                        </ion-col>
                        <ion-col size="6"
                              (click)="goToProductPage(featuredProduct._id, searchBar)">
                                <div>
                                  <p class="product-price">${{featuredProduct.price}}</p>
                                  
                                  <h6 class="product-title">{{featuredProduct.title}}</h6>
                                  <app-ratings-stars [rating]="featuredProduct.rating"></app-ratings-stars>
                                  <p class="product-duration">Duration: {{featuredProduct.duration}} Mins</p>
                                  <p class="product-category"># {{featuredProduct.category}}</p>
                                  <!-- <h5 class="product-reviews-length">Reviews {{featuredProduct.reviews.length}}</h5> -->
                                </div>                 
                                
                        </ion-col>
        
                        <ion-toolbar *ngIf="this.authState">
                              
                            <ion-buttons #cartButton  slot="start">
                                <img class="cart-button" 
                                    (click)="tryAddToCart(featuredProduct._id, featuredProduct.title, cartButton)"
                                    *ngIf="!this.cart.includes(featuredProduct._id)" 
                                    src="../../../assets/icons/add-to-cart.svg" 
                                    alt="Hypnosis Downloads Product">
                                <img class="cart-button"
                                    (click)="tryRemoveFromCart(featuredProduct._id, featuredProduct.title, cartButton)"
                                    *ngIf="this.cart.includes(featuredProduct._id)" 
                                    src="../../../assets/icons/remove-from-cart.svg" 
                                    alt="Hypnosis Downloads Product">
                            </ion-buttons>

                            <ion-buttons slot="end">
                                <app-favorite-icon
                                [id]="featuredProduct._id"
                                [email]="this.userEmail"></app-favorite-icon>
                            </ion-buttons>
                            
                        </ion-toolbar>  
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-col>
    </ion-row>

    <!-- Mobile Products -->
    <ion-row class="ion-hide-lg-up">

        <!-- Featured Products Header -->
        <ion-col size-xs="11" size-sm="10" size-md="8">
            <h2>
                <ion-icon slot="start" name="pricetag"></ion-icon>
                <span></span>
                Featured Products
                <span width="10"></span>
                <span class="file-type">MP3</span>
            </h2>
            <p *ngIf="!this.authState" class="static-alert-yellow">Please log in to favorite or buy a product</p>
            
        </ion-col>

        <!-- Swiper -->
        <ion-col size-xs="11" size-sm="10" size-md="8">

            <swiper
              id="products-featured-swiper"
              [config]="config" 
              (swiper)="onSwiper($event)">

              <ng-template swiperSlide  *ngFor="let featuredProduct of landingFeaturedProducts">
                
                <!-- Products -->
                <ion-row class="landing-product-wrapper">
                    <ion-col size="12">
                        <img class="mobile-products-slider-img" src="../../../../assets/placeholders/placeholder-logo.svg" alt="Hypnosis Site Related Product Photo">
                    </ion-col>
                    <ion-col size="11">
                        <p class="product-price">${{featuredProduct.price}}</p>
                        <h6 class="product-title">{{featuredProduct.title}}</h6>  
                        <app-ratings-stars [rating]="featuredProduct.rating"></app-ratings-stars>
                        <p class="product-duration">Duration: {{featuredProduct.duration}} Mins</p>
                        <p class="product-category">#{{featuredProduct.category}}</p>
                        <h5 class="product-reviews-length">Reviews: {{featuredProduct.reviews.length}}</h5>

                        <ion-toolbar *ngIf="this.authState">
                        <ion-buttons #cartButton  slot="start">
                            <img class="cart-button" (click)="tryAddToCart(featuredProduct._id, featuredProduct.title, cartButton)" *ngIf="!this.cart.includes(featuredProduct._id)" src="../../../assets/icons/add-to-cart.svg" alt="Hypnosis Downloads Product">
                            <img class="cart-button" (click)="tryRemoveFromCart(featuredProduct._id, featuredProduct.title, cartButton)" *ngIf="this.cart.includes(featuredProduct._id)" src="../../../assets/icons/remove-from-cart.svg" alt="Hypnosis Downloads Product">
                        </ion-buttons>
                        <ion-buttons slot="end">
                        <app-favorite-icon [id]="featuredProduct._id"></app-favorite-icon>
                        </ion-buttons>
                        </ion-toolbar>
                    </ion-col>
                </ion-row>

              </ng-template>

            </swiper>
        </ion-col>

        <!-- View All Products Button -->
        <ion-col size-xs="11" size-sm="10" size-md="8">
            <ion-button expand="full" (click)="goToProductsPage()">
                View All Products
            </ion-button>
        </ion-col>
    </ion-row>


    <!-- Intro -->
    <ion-row id="intro-wrapper" class="ion-justify-content-center">
        <ion-col size-xs="11" size-md="10" size-lg="6.2">
            <div id="hyp-illustration"></div>
        </ion-col>
        <ion-col class="intro-section" size-xs="11" size-md="10" size-lg="6.2">
            <h2 class="landing-section-header">Why Hypnosis?</h2>
            <p id="why-hypnosis">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Ad nihil porro error enim praesentium qui, dolorum optio vitae nobis incidunt? 
                Velit ducimus maxime, iste doloribus quidem mollitia quod adipisci omnis!
                Ad nihil porro error enim praesentium qui, dolorum optio vitae nobis incidunt? 
                Velit ducimus maxime, iste doloribus quidem mollitia quod adipisci omnis!
                Ad nihil porro error enim praesentium qui, dolorum optio vitae nobis incidunt? 
                Velit ducimus maxime, iste doloribus quidem mollitia quod adipisci omnis!
            </p>
        </ion-col>
    </ion-row>


    <!-- Latest Blogs -->
    <!-- Header -->
    <!-- <div class="row-margin"></div>
    <ion-row class="ion-hide-lg-down ion-justify-content-center">
        <ion-col size-lg="9">
            <ion-toolbar>
                <ion-buttons slot="start">
                    <h2>
                        <ion-icon slot="start" name="document"></ion-icon>
                        Featured Blogs
                    </h2>
                </ion-buttons>
                <ion-buttons slot="end">
                    <ion-button class="view-all-button" (click)="goToBlogsPage()">
                        View All
                    </ion-button>
                </ion-buttons>
            </ion-toolbar>
        </ion-col>
    </ion-row> -->

    <!-- Blogs -->
    <!-- <ion-row id="blogs-wrapper" class="ion-justify-content-center">
         <ion-col class="ion-hide-lg-down desktop-blog shadow-desktop" size-lg="3">
            
        </ion-col>
        <ion-col class="ion-hide-lg-down desktop-blog shadow-desktop" size-lg="3">
            
        </ion-col>
        <ion-col class="ion-hide-lg-down desktop-blog shadow-desktop" size-lg="3">
            
        </ion-col>
        <ion-col class="ion-hide-lg-up" size-xs="12" size-sm="12" size-md="12">
            <h2>
                <ion-icon slot="start" name="pricetag"></ion-icon>
                Latest Blogs</h2>
            <swiper 
                [config]="config"
                (swiper)="onSwiper($event)">
                <ng-template swiperSlide>Slide 1</ng-template>
                <ng-template swiperSlide>Slide 1</ng-template>
                <ng-template swiperSlide>Slide 4</ng-template>
              </swiper>
        </ion-col>
    </ion-row> -->

    <!-- Growth Membership -->
    <div class="spacer-5x"></div>
    <ion-row id="growth-membership-wrapper" class="ion-justify-content-center">
        <ion-col size-xs="11" size-md="10" size-lg="6.2">
            <ion-toolbar>
                <ion-buttons slot="start">
                    <h2 class="landing-section-header">
                        <ion-icon slot="start" name="leaf-outline"></ion-icon>
                        Growth Membership
                    </h2>
                </ion-buttons>
            </ion-toolbar>
        </ion-col>
        <ion-col size-xs="11" size-md="10" size-lg="6.2">
            <p id="growth-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Dicta sequi sapiente reprehenderit culpa adipisci obcaecati nihil,
                ullam dolor rerum saepe sint atque ipsa sit ea architecto doloremque nam. Veritatis, reprehenderit?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Dicta sequi sapiente reprehenderit culpa adipisci obcaecati nihil,
                ullam dolor rerum saepe sint atque ipsa sit ea architecto doloremque nam. Veritatis, reprehenderit?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. <br><br>
                Dicta sequi sapiente reprehenderit culpa adipisci obcaecati nihil,
                ullam dolor rerum saepe sint atque ipsa sit ea architecto doloremque nam. Veritatis, reprehenderit?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Dicta sequi sapiente reprehenderit culpa adipisci obcaecati nihil,
                ullam dolor rerum saepe sint atque ipsa sit ea architecto doloremque nam. Veritatis, reprehenderit?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Dicta sequi sapiente reprehenderit culpa adipisci obcaecati nihil,
                ullam dolor rerum saepe sint atque ipsa sit ea architecto doloremque nam. Veritatis, reprehenderit?
            </p>
            <div class="row-margin"></div>
            <div class="ion-text-center">
                <ion-button id="membership-button" (click)="membershipFormToggle()" color="success" expand="full">
                    Join
                </ion-button>
                <div class="spacer-2x"></div>

                <div *ngIf="this.showMembershipFrom" id="membership-input-wrapper">
                    <h1>Sign Up for Memebership</h1>
                    <form [formGroup]="this.membershipForm">
                        <ion-item>
                            <ion-label position="floating">First Name <ion-text color="danger">*</ion-text></ion-label>
                            <ion-input required formControlName="email" type="email"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Last Name <ion-text color="danger">*</ion-text></ion-label>
                            <ion-input required formControlName="email" type="email"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">City <ion-text color="danger">*</ion-text></ion-label>
                            <ion-input required formControlName="email" type="email"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">ZIP <ion-text color="danger">*</ion-text></ion-label>
                            <ion-input required formControlName="email" type="email"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">State <ion-text color="danger">*</ion-text></ion-label>
                            <ion-input required formControlName="email" type="email"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">E-Mail <ion-text color="danger">*</ion-text></ion-label>
                            <ion-input required formControlName="email" type="email"></ion-input>
                        </ion-item>
                        <div class="spacer-1x"></div>
                        <ion-button block color="primary" type="submit" [disabled]="membershipForm.invalid">
                            Sign Up
                        </ion-button>
                    </form>
                </div>
            </div>
        </ion-col>
    </ion-row>
    <div class="spacer-5x"></div>
    
    <!-- Footer -->
    <ion-row class="ion-justify-content-center">
        <ion-col id="footer-landing-page" size="12">
            <ion-list>
              <ion-item style="height: auto;" lines="none">
                <img id="footer-logo" height="80" src="../../../../assets/placeholders/placeholder-logo.svg" alt="Hypnosis Site Logo">
              </ion-item>
              <ion-item lines="none">
                <ion-label>Link</ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-label>Link</ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-label>Link</ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-label>Link</ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-label>Link</ion-label>
              </ion-item>
              <ion-item lines="none">
                <p class="footer-text">Website title - 2022</p>
              </ion-item>
              <ion-item>
                <ion-button (click)="goToContactPage()" id="footer-contact-us-button">
                  Contact Us
                </ion-button>
              </ion-item>
            </ion-list>
        </ion-col>
    </ion-row>

    </ion-grid>
</ion-content>
