<ion-content scrollEvents="true" (ionScroll)="scrollPosition($event)">
    <ion-grid>

    <!-- Header -->
    <ion-row id="header-wrapper" class="ion-justify-content-center">

        <!-- Desktop -->
        <!-- Welcome Message & Search -->
        <ion-col class="ion-hide-lg-down" id="welcome-wrapper" size-md="12" size-lg="6">
            <div class="spacer-10x"></div>
            <div id="welcome-popup-lg">
                <div class="ion-text-center">
                    <h1 style="color: #333;">{{welcomeMessage}}</h1>
                </div>

                <!-- Searchbar -->
                <ion-searchbar
                    placeholder="Search for Product Titles"
                    (ionFocus)="searchingOn()"
                    (ionBlur)="searchingOff($event)"
                    (ionChange)="searchUpdate($event)"
                    #searchBar
                    showCancelButton="true"
                    showClearButton="true"
                ></ion-searchbar>

                <!-- Search List -->
                <ion-list id="search-results-list" *ngIf="this.searching">
                    <ion-item lines="none">
                        <ion-spinner></ion-spinner>
                    </ion-item>
                    <ion-item lines="none" *ngIf="this.dynanimcSearchArray.length == 0 && this.searching == true">
                        No Results with that search. Try again.
                    </ion-item>

                    <!-- Search Results -->
                    <ion-item
                        class="search-item" 
                        lines="none" 
                        detail="true"
                        *ngFor="let results of this.dynanimcSearchArray"
                        (click)="this.goToProductPageSearchBar(results._id, searchBar)">
                        <ion-avatar slot="start">
                            <img src="{{results.picture}}" />
                          </ion-avatar>
                        <ion-label>
                            <h2>{{results.title}} <span class="search-results-type">MP3</span></h2>
                            <h2 class="search-results-price">${{results.price}}</h2>
                        </ion-label>
                        <div class="spacer-2x"></div>
                    </ion-item>
                </ion-list>

                <div class="spacer-2x"></div>

                <hr *ngIf="!this.authState" id="landing-sample-divider">
                <div *ngIf="!this.authState" class="spacer-2x"></div>

                <!-- Header Onboarding Buttons -->
                <ion-row *ngIf="!this.authState" id="header-onboarding-buttons">
                    <ion-col class="ion-text-center" size="12">
                        <ion-button (click)="login()">
                            Login
                        </ion-button>
                        <div class="spacer-2x"></div>   
                        <ion-button color="success" (click)="register()">
                            Register
                        </ion-button>  
                    </ion-col>
                </ion-row>
                
            </div>
        </ion-col>

        <!-- Header Photo -->
        <ion-col
            size="12" size-lg="6" 
            class="ion-align-items-center ion-hide-lg-down" 
            id="header-background-photo">
        </ion-col>

        <!-- Mobile -->
        <ion-col
            size="12" size-lg="6" 
            class="ion-align-items-center ion-hide-lg-up" 
            id="header-background-photo">
            <div class="spacer-1x"></div>

            <div id="welcome-popup">
                <div class="ion-text-center">
                    <h1 style="color: #444;">{{welcomeMessage}}</h1>
                </div>

                <!-- Searchbar -->
                <ion-searchbar
                    placeholder="Search for Product Titles"
                    (ionFocus)="searchingOn()"
                    (ionBlur)="searchingOff($event)"
                    (ionChange)="searchUpdate($event)"
                    #searchBar
                    showCancelButton="true"
                    showClearButton="true"
                ></ion-searchbar>

                <!-- Search List -->
                <ion-list id="search-results-list" *ngIf="this.searching">
                    <ion-item lines="none">
                        <ion-spinner></ion-spinner>
                    </ion-item>
                    <ion-item lines="none" *ngIf="this.dynanimcSearchArray.length == 0 && this.searching == true">
                        No Results with that search. Try again.
                    </ion-item>

                    <!-- Search Results -->
                    <ion-item
                        class="search-item" 
                        lines="none" 
                        detail="true"
                        *ngFor="let results of this.dynanimcSearchArray"
                        (click)="this.goToProductPageSearchBar(results._id, searchBar)">
                        <ion-avatar slot="start">
                            <img src="{{results.picture}}" />
                          </ion-avatar>
                        <ion-label>
                            <h2>{{results.title}} <span class="search-results-type">MP3</span></h2>
                            <h2 class="search-results-price">${{results.price}}</h2>
                        </ion-label>
                        <div class="spacer-2x"></div>
                    </ion-item>
                </ion-list>

                <div class="spacer-2x"></div>

                <hr *ngIf="!this.authState" id="landing-sample-divider">
                <div *ngIf="!this.authState" class="spacer-2x"></div>

                <!-- Header Onboarding Buttons -->
                <ion-row *ngIf="!this.authState" id="header-onboarding-buttons">
                    <ion-col class="ion-text-center" size="12">
                        <ion-button (click)="login()">
                            Login
                        </ion-button>
                        <div class="spacer-2x"></div>   
                        <ion-button color="success" (click)="register()">
                            Register
                        </ion-button>  
                    </ion-col>
                </ion-row>
                
            </div>
        </ion-col>

    </ion-row>

    <!-- Featured Products -->
    <ion-row id="landing-featured-products-wrapper-lg" class="ion-justify-content-center ion-hide-lg-down">
        <ion-col size-lg="10" size-xl="9">
            <ion-toolbar>
                <ion-buttons slot="start">
                    <h2>
                        <ion-icon slot="start" name="pricetag"></ion-icon>
                        Featured Products
                        <span class="file-type">MP3</span>
                    </h2>
                </ion-buttons>
                <ion-buttons slot="end">
                    <ion-button class="view-all-button"  (click)="goToProductsPage()">
                        View All Products
                        <ion-icon slot="start" name="arrow-forward-outline" class="ion-float-right"></ion-icon>
                    </ion-button>
                </ion-buttons>
            </ion-toolbar>

            <ion-row id="landing-featured-products-inner-wrapper-lg">
                <ion-col size="4" 
                *ngFor="let featuredProduct of this.landingFeaturedProducts">
                    <ion-row
                        class="ion-justify-content-center"
                        class="product-lg">
                        <ion-col class="product-photo" size="12"
                            (click)="goToProductPage(featuredProduct._id, searchBar)">
                        </ion-col>
                        <ion-col size="12"
                            (click)="goToProductPage(featuredProduct._id, searchBar)">
                            <div>
                                  <p class="product-price">${{featuredProduct.price}}</p>
                                  
                                  <h6 class="product-title">{{featuredProduct.title}}</h6>
                                  <app-ratings-stars [rating]="featuredProduct.rating"></app-ratings-stars>
                                  <p class="product-duration">Duration: {{featuredProduct.duration}} Mins</p>
                                  <p class="product-category"># {{featuredProduct.category}}</p>
                                  <h5 class="product-reviews-length">Reviews {{featuredProduct.reviews.length}}</h5>
                            </div>                 
                                
                        </ion-col>
        
                        <ion-toolbar *ngIf="this.authState">
                              
                            <ion-buttons #cartButton  slot="end">
                                <img class="cart-button" 
                                    (click)="tryAddToCart(featuredProduct._id, featuredProduct.title, cartButton)"
                                    *ngIf="!this.cart.includes(featuredProduct._id)" 
                                    src="../../../assets/icons/add-to-cart.svg" 
                                    alt="Hypnosis Downloads Product">
                                <img class="cart-button"
                                    (click)="tryRemoveFromCart(featuredProduct._id, featuredProduct.title, cartButton)"
                                    *ngIf="this.cart.includes(featuredProduct._id)" 
                                    src="../../../assets/icons/remove-from-cart.svg" 
                                    alt="Hypnosis Downloads Product">
                                    <app-favorite-icon
                                    [id]="featuredProduct._id"
                                    [userFavorites]="this.userFavorites"
                                    [email]="this.userEmail"></app-favorite-icon>
                            </ion-buttons>
                        </ion-toolbar>  
                    </ion-row>
                    <div class="ion-text-center">
                        <ion-button (click)="viewProduct(featuredProduct._id)" class="view-product-button">
                            View Product
                        </ion-button>
                    </div>
                </ion-col>
            </ion-row>

        </ion-col>

        <div class="spacer-10x"></div>
    </ion-row>

    <!-- Mobile Featured Products -->
    <ion-row class="ion-hide-lg-up ion-justify-content-center">

        <!-- Featured Products Header -->
        <ion-col size-xs="11" size-sm="10" size-md="8">        
            <div class="spacer-5x"></div>
            <h2>
                <p *ngIf="!this.authState" class="static-alert-yellow">Please log in to favorite or buy a product</p>
                
                <div class="spacer-1x"></div>
                <ion-icon slot="start" name="pricetag"></ion-icon>
                <span></span>
                Featured Products
                <span width="10"></span>
                <span class="file-type">MP3</span>
            </h2>
            
        </ion-col>

        <!-- Swiper -->
        <ion-col size-xs="11" size-sm="10" size-md="8">

            <swiper
              id="products-featured-swiper"
              [config]="config" 
              (swiper)="onSwiper($event)">

              <ng-template swiperSlide *ngFor="let featuredProduct of landingFeaturedProducts">
                
                <!-- Products -->
                <ion-row class="landing-product-wrapper ion-justify-content-center">
                    <ion-col class="mobile-products-slider-img" size="12">
                    </ion-col>
                    <ion-col size="10">
                        <p class="product-price">${{featuredProduct.price}}</p>
                        <h6 class="product-title">{{featuredProduct.title}}</h6>  
                        <app-ratings-stars [rating]="featuredProduct.rating"></app-ratings-stars>
                        <p class="product-duration">Duration: {{featuredProduct.duration}} Mins</p>
                        <p class="product-category">#{{featuredProduct.category}}</p>
                        <h5 class="product-reviews-length">Reviews: {{featuredProduct.reviews.length}}</h5>

                        <ion-toolbar *ngIf="this.authState">
                        <ion-buttons #cartButton  slot="start">
                            <img class="cart-button" (click)="tryAddToCart(featuredProduct._id, featuredProduct.title, cartButton)" *ngIf="!this.cart.includes(featuredProduct._id)" src="../../../assets/icons/add-to-cart.svg" alt="Hypnosis Downloads Product">
                            <img class="cart-button" (click)="tryRemoveFromCart(featuredProduct._id, featuredProduct.title, cartButton)" *ngIf="this.cart.includes(featuredProduct._id)" src="../../../assets/icons/remove-from-cart.svg" alt="Hypnosis Downloads Product">
                        </ion-buttons>
                        <ion-buttons slot="end">
                        <app-favorite-icon [id]="featuredProduct._id"></app-favorite-icon>
                        </ion-buttons>
                        </ion-toolbar>
                    </ion-col>
                </ion-row>

              </ng-template>

            </swiper>
        </ion-col>

        <!-- View All Products Button -->
        <ion-col class="ion-text-center" size-xs="11" size-sm="10" size-md="8">
            <ion-button expand="full" (click)="goToProductsPage()">
                View All Products
            </ion-button>      
            <div class="spacer-5x"></div>
        </ion-col>

    </ion-row>

    <!-- Description -->
    <hr style="border-bottom: 3px solid #666;">
    <ion-row id="description-wrapper" class="ion-justify-content-center">
        <ion-col id="description-photo" size-xs="12" size-md="12" size-lg="6">
        </ion-col>
        <ion-col 
            class="ion-align-items-center"
            id="description-text-wrapper" 
            size-xs="11" size-md="10" size-lg="6">
            <div class="spacer-4x"></div>
            <div id="description-illustration"></div>
            <h2 class="landing-section-header">Why Hypnosis?</h2>
            <p id="description-text">
                {{whyHypnosis}}
            </p>
        </ion-col>
    </ion-row>

    <div class="spacer-5x"></div>
    <hr style="border-bottom: 3px solid #666;">

    <!-- Membership -->
    <ion-row id="membership-wrapper" class="ion-justify-content-center">

        <ion-col id="membership-photo" size-xs="12" size-md="12" size-lg="6">
        </ion-col>
        <ion-col 
            class="ion-align-items-center"
            id="membership-text-wrapper" 
            size-xs="11" size-md="10" size-lg="6">
            <div class="spacer-4x"></div>
            <div id="membership-illustration"></div>
            <h2 class="landing-section-header">Membership</h2>
            <p id="membership-text">
                {{membershipMessage}}
            </p>
            <div class="ion-text-center">
                <div class="spacer-1x"></div>
                <ion-button *ngIf="!this.showMembershipFrom" id="membership-button" (click)="membershipFormToggle()" color="success" expand="full">
                    Join
                </ion-button>
                <div class="spacer-2x"></div>

                <div *ngIf="this.showMembershipFrom" id="membership-input-wrapper">
                    <h1>Sign Up for Memebership</h1>
                    <form [formGroup]="this.membershipForm">
                        <ion-item>
                            <ion-label position="floating">First Name <ion-text color="danger">*</ion-text></ion-label>
                            <ion-input required formControlName="email" type="email"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Last Name <ion-text color="danger">*</ion-text></ion-label>
                            <ion-input required formControlName="email" type="email"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">City <ion-text color="danger">*</ion-text></ion-label>
                            <ion-input required formControlName="email" type="email"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">ZIP <ion-text color="danger">*</ion-text></ion-label>
                            <ion-input required formControlName="email" type="email"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">State <ion-text color="danger">*</ion-text></ion-label>
                            <ion-input required formControlName="email" type="email"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">E-Mail <ion-text color="danger">*</ion-text></ion-label>
                            <ion-input required formControlName="email" type="email"></ion-input>
                        </ion-item>
                        <div class="spacer-1x"></div>
                        <ion-button color="primary" type="submit" [disabled]="membershipForm.invalid">
                            Sign Up
                        </ion-button>
                        <div class="spacer-1x"></div>
                        <ion-button color="light" (click)="membershipFormToggle()">
                            Cancel
                        </ion-button>
                    </form>
                </div>
            </div>
        </ion-col>
    </ion-row>

    <div class="spacer-5x"></div>
    
    <!-- Footer -->
    <ion-row class="ion-justify-content-center">
        <ion-col id="footer-landing-page" size="12">
            <ion-list>
              <ion-item style="height: auto;" lines="none">
                <img id="footer-logo" height="80" src="../../../../assets/placeholders/placeholder-logo.svg" alt="Hypnosis Site Logo">
              </ion-item>
              <ion-item lines="none">
                <ion-label>Link</ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-label>Link</ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-label>Link</ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-label>Link</ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-label>Link</ion-label>
              </ion-item>
              <ion-item lines="none">
                <p class="footer-text">Website title - 2022</p>
              </ion-item>
              <ion-item>
                <ion-button (click)="goToContactPage()" id="footer-contact-us-button">
                  Contact Us
                </ion-button>
              </ion-item>
            </ion-list>
        </ion-col>
    </ion-row>

    </ion-grid>

</ion-content>

<!-- Sample Player -->
<ion-row id="landing-sample-player-wrapper" class="ion-justify-content-center">
    <ion-col size-xs="12" size-lg="6">
        <ion-row>
            <ion-col size-xs="1.5" size-lg="0.5" class="ion-text-center">
                <ion-icon id="landing-sample-music-icon" name="musical-notes-outline"></ion-icon>
            </ion-col>
            <ion-col size-xs="9.5" size-lg="8.5">
                <div style="padding: 0em 1em;">
                    <p id="sample-track-text">Sample Track</p>
                    <ion-progress-bar id="sample-track-progress-bar" value="{{this.sampleDuration}}" #sampleMusicProgress></ion-progress-bar>
                </div>
            </ion-col>
            <ion-col size-xs="1" size-lg="1" class="ion-text-center">
                <!-- Play Sample Button -->
                <ion-button id="landing-sample-button" (click)="playSample(this.sampleButtonIcon)">
                    <ion-icon slot="start" size="large" name="{{this.sampleButtonIcon}}" ></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-col>
</ion-row>


