ion-icon {
    z-index: 9999;
    font-size: 2em;
    position: relative;
    color: red;
    left: 22px;
  }
  .favorited-caption {
    color: #c00000;
    font-size: 0.6em;
    opacity: 0;
    display: inline-block;
    animation: favorite-caption-fade-in 1s ease forwards;
  }
  @keyframes favorite-caption-fade-in {
    0% {
      opacity: 0;
      transform: translateX(-4px);
    }
    70% {
      opacity: 1;
      transform: translateX(0px);
    }
    100% {
      opacity: 0;
      display: none;
    }
  }