#register-button-lg,
#cancel-button-lg
 {
    width: 150px;
}
#register-form{
    padding: 0 8em;
}
.register-background-lg {
    background-image: url('https://media-cdn.tripadvisor.com/media/photo-m/1280/1a/4d/d2/76/palm-trees-marigot-bay.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}