<ion-header class="ion-hide-lg-up">
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-button id="top-bar-logo"  (click)="onClick()">
            Icon
        </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
        <ion-button id="login-button" (click)="login()">
            Log in
        </ion-button>
        <ion-button id="logout-button" (click)="login()">
            Log out
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-hide-lg-down">
      <ion-col size-xs="11" size-sm="10" size-md="8" size-lg="8">
        <h1 class="desktop-page-header">Profile</h1>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col class="page-content-wrapper" size-xs="12" size-sm="10" size-md="8" size-lg="8"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
