ion-footer {
    position: absolute;
    bottom: 88px;
    background: #dedede;

    ion-button {
        height: 60px;
    }

    
}

#login-icon {
    height: 150px;
    width: 150px;
    background: lightgrey;
    margin: 0 auto;
}
#profile-login-button-lg {
    width: 200px;
}

.modal-button {
    display: block;
    width: 200px;
    height: 50px;
    margin: 1em auto;
}

#profile-wrapper {
    padding-top: 3em;
    height: auto; 

   #profile {
    box-shadow: none;
    padding: 3em 2em;
    border-radius: 10px;
    background: #dedede5e;

    .profile-item-lg {
        background: #fff;
        margin: 1em auto;
        border-radius: 5px;
        box-shadow: 1px 1px 5px #dedede;
        transform: scale(1);
    }

    .profile-item-lg:hover {
        transform: scale(1.04);
        background: #e0f9ffbc;
    }
   }
   
}
@media screen and (max-width: 996px) {
    #profile {
        box-shadow: none;
     }
}
@media screen and (min-width: 996px) {
    #profile-wrapper {
        height: 80vh; 
     }

     #profile {
      box-shadow: 1px 1px 10px #dedede;
     }
}
#user-info-header {
    height: auto;
    // background: #999;
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #9999993d;

    p, h2 {
        line-height: 30px;
        margin: 0;
    }
}
span {
    display: inline-block;
    position: relative;
    bottom: 9px;
    left: 10px;

}

// Modals
#change-name-modal,
#change-email-modal,
#change-password-modal,
#news-letter-modal {
    --background: #fff;
}


#footer-profile-page {
    background: #333;
    border-radius: 20px 20px 0 0;
    height: auto;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5em 0;

    .footer-text {
        color: #b6b6b6;
    }

    ion-item {
        color: #fff;
        text-align: center;
        font-size: 1.3em;
        height: 60px;

        #footer-contact-us-button {
            margin: 0 auto;
            height: 50px;
            width: 100%;
            font-size: 1em;
        }

        #footer-logo {
            margin: 2em auto;
        }
    }
}