<ion-content>
  <!-- If User is NOT Logged in -->
  <ion-grid>
    <ion-row>
      <ion-col 
        size-xs="11" size-md="10" size-lg="6"
        *ngIf="!this.loginService.authenticationState.value">
        <div class="spacer-5x"></div>
        <h1>Please Log in</h1>
        <ion-button (click)="goToLoginPage()" expand="block" color="success">
          Login
        </ion-button>
      </ion-col>
    </ion-row>


  
  </ion-grid>

  <!-- Main Profile Page -->
  <ion-grid *ngIf="this.loginService.authenticationState.value">
    <div class="spacer-2x"></div>
  
    <ion-row id="profile-wrapper" class="ion-justify-content-center ion-align-items-center">
      <ion-col id="profile" class="ion-hide-lg-down" size-xs="11" size-sm="10" size-md="8" size-lg="6">
        
        <!-- User Info -->
        <div id="user-info-header">
          <img height="60" src="../../../assets/placeholders/profile-icon.svg" alt="User Profile Icon">
          <span>
            <h2 style="color: #1ea3fb">{{this.userFullName}}</h2>
            <p>{{this.userEmail}}</p>
          </span>
        </div>

        <!-- List Buttons -->
        <ion-item class="profile-item-lg" (click)="changeNameModal()" lines="none" detail="true">
          <ion-label>Change Name</ion-label>
        </ion-item>
        <ion-item class="profile-item-lg" (click)="changeEmailModal()" lines="none" detail="true">
          <ion-label>Change Email</ion-label>
        </ion-item>
        <!-- <ion-item (click)="changePictureModal()" lines="none" detail="true">
          <ion-label>Change Picture</ion-label>
        </ion-item> -->
        <ion-item class="profile-item-lg" (click)="changePasswordModal()" lines="none" detail="true">
          <ion-label>Change Password</ion-label>
        </ion-item>
        <!-- <ion-item (click)="changeNewsLetterModal()" lines="none" detail="true">
          <ion-label>Subscribe to Newsletter</ion-label>
        </ion-item> -->
        <ion-item class="profile-item-lg" (click)="logout()" lines="none" detail="true">
          <ion-label>Logout</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- Footer -->
    <div class="spacer-10x"></div>
    <ion-row class="ion-justify-content-center">
        <ion-col id="footer-profile-page" size="12">
            <ion-list>
              <ion-item style="height: auto;" lines="none">
                <img id="footer-logo" height="80" src="../../../../assets/placeholders/placeholder-logo.svg" alt="Hypnosis Site Logo">
              </ion-item>
              <ion-item lines="none">
                <ion-label>Link</ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-label>Link</ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-label>Link</ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-label>Link</ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-label>Link</ion-label>
              </ion-item>
              <ion-item lines="none">
                <p class="footer-text">Website title - 2022</p>
              </ion-item>
              <ion-item>
                <ion-button (click)="goToContactPage()" id="footer-contact-us-button">
                  Contact Us
                </ion-button>
              </ion-item>
            </ion-list>
        </ion-col>
    </ion-row>
  </ion-grid>
  
  <!-- Change Name Modal -->
  <ion-modal [isOpen]="this.changeNameModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-title>Change Name</ion-title>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button (click)="closeNameModal()">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <div class="spacer-2x"></div>

      <ion-content id="change-name-modal">
        <ion-grid>
          <ion-row class="ion-justify-content-center">
            <ion-col size-xs="11">

              <!-- User Info -->
              <div id="user-info-header">
                <img height="60" src="../../../assets/placeholders/profile-icon.svg" alt="User Profile Icon">
                <span>
                  <h2>{{this.userFullName}}</h2>
                </span>
              </div>

              <!-- Form -->
              <form [formGroup]="changeNameForm" ngSubmit="tryChangeName()">
                <ion-item>
                  <ion-label position="floating">First Name <ion-text color="danger">*</ion-text></ion-label>
                  <ion-input required formControlName="firstName" placeholder="{{this.userFirstName}}" type="text"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Last Name <ion-text color="danger">*</ion-text></ion-label>
                  <ion-input required formControlName="lastName" placeholder="{{this.userLastName}}" type="text"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Password <ion-text color="danger">*</ion-text></ion-label>
                  <ion-input required formControlName="password" type="password"></ion-input>
                  <!-- Email Validation-->
                  <div class="validation-errors">
                        <ng-container *ngFor="let validation of validationMessasges.password">
                          <div class="validation-error-message"
                          *ngIf="changeNameForm
                            .get('password')
                            .hasError(validation.type) && (changeNameForm.get('password')
                            .dirty || changeNameForm.get('password').touched)">
                            {{ validation.message }}
                          </div>
                        </ng-container>
                  </div>
                </ion-item>
                <div class="ion-text-center ion-hide-lg-down">
                  <div class="spacer-2x"></div>
                  <ion-button class="modal-button" type="submit" [disabled]="changeNameForm.invalid">
                    Submit
                  </ion-button>
                  <ion-button class="modal-button" type="cancel" [disabled]="changeNameForm.invalid">
                    Cancel
                  </ion-button>
                </div>
              </form>

            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-footer>
          <ion-button (click)="tryChangeName()" 
            class="modal-button ion-hide-lg-up">
            Save
          </ion-button>
          <ion-button class="modal-button ion-hide-lg-up" (click)="closeNameModal()">
            Cancel
          </ion-button>
        </ion-footer>
      </ion-content>

    </ng-template>
  </ion-modal>

  <!-- Change Email Modal -->
  <ion-modal [isOpen]="this.changeEmailModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-title>Change Email</ion-title>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button (click)="closeEmailModal()">
              <ion-icon name="close-outline"></ion-icon> 
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <div class="spacer-2x"></div>
      <ion-content id="change-email-modal">
        <ion-grid>
          <ion-row class="ion-justify-content-center">
            <ion-col size-xs="11">
              <div id="user-info-header">
                <img height="60" src="../../../assets/placeholders/profile-icon.svg" alt="User Profile Icon">
                <span>
                  <h2>{{this.userEmail}}</h2>
                </span>
              </div>
              <form [formGroup]="changeEmailForm" (ngSubmit)="changeEmail()">
                <ion-item>
                  <ion-label position="floating">Email <ion-text color="danger">*</ion-text></ion-label>
                  <ion-input required formControlName="newEmail" placeholder="{{this.userEmail}}" type="email"></ion-input>
                  <div class="validation-errors">
                    <ng-container *ngFor="let validation of validationMessasges.email">
                      <div class="validation-error-message"
                      *ngIf="changeEmailForm
                        .get('newEmail')
                        .hasError(validation.type) && (changeEmailForm.get('newEmail')
                        .dirty || changeEmailForm.get('newEmail').touched)">
                        {{ validation.message }}
                      </div>
                    </ng-container>
                    </div>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Password <ion-text color="danger">*</ion-text></ion-label>
                  <ion-input required formControlName="password" type="password"></ion-input>
                </ion-item>
                <div class="ion-text-center ion-hide-lg-down">
                  <ion-button block color="primary" type="submit" [disabled]="changeEmailForm.invalid">
                    Submit
                  </ion-button>
                  <ion-button block color="primary" type="submit" [disabled]="changeEmailForm.invalid">
                    Cancel
                  </ion-button>
                </div>
              </form>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-footer>
          <div class="spacer-2x"></div>
          <ion-button class="modal-button ion-hide-lg-up" (click)="tryChangeEmail()">
            Save
          </ion-button>
          <ion-button class="modal-button ion-hide-lg-up" (click)="closeEmailModal()">
            Cancel
          </ion-button>
        </ion-footer>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!-- Change Password Modal -->
  <ion-modal id="change-password-modal" [isOpen]="this.changePasswordModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-title>Change Password</ion-title>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button (click)="closePasswordModal()">
              <ion-icon name="close-outline"></ion-icon> 
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <div class="spacer-2x"></div>
      <ion-content>
        <ion-grid>
          <ion-row class="ion-justify-content-center">
            <ion-col size-xs="11">
              <div id="user-info-header">
                <img height="60" src="../../../assets/placeholders/profile-icon.svg" alt="User Profile Icon">
              </div>
              <form [formGroup]="changePasswordForm" (ngSubmit)="tryChangePassword()">
                <ion-item>
                  <ion-label position="floating">New Password <ion-text color="danger">*</ion-text></ion-label>
                  <ion-input required formControlName="newPassword" type="password"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Re-type New Password <ion-text color="danger">*</ion-text></ion-label>
                  <ion-input required formControlName="retypeNewPassword" type="password"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Old Password <ion-text color="danger">*</ion-text></ion-label>
                  <ion-input required formControlName="oldPassword" type="password"></ion-input>
                </ion-item>
                <div class="ion-text-center ion-hide-lg-down">
                  <ion-button block color="primary" type="submit" [disabled]="changePasswordForm.invalid">
                    Submit
                  </ion-button>
                  <ion-button block color="primary" type="submit" [disabled]="changePasswordForm.invalid">
                    Cancel
                  </ion-button>
                </div>
              </form>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-footer>
          <div class="spacer-2x"></div>
          <ion-button class="modal-button ion-hide-lg-up" (click)="tryChangePassword()">
            Save
          </ion-button>
          <ion-button class="modal-button ion-hide-lg-up" (click)="closePasswordModal()">
            Cancel
          </ion-button>
        </ion-footer>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!-- News letter Modal -->
  <ion-modal id="news-letter-modal" [isOpen]="this.newsLetterOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-title>News Letter</ion-title>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button (click)="closeNewsLetterModal()">
              <ion-icon name="close-outline"></ion-icon> 
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <div class="spacer-2x"></div>
      <ion-content>
        <ion-grid>
          <ion-row class="ion-justify-content-center">
            <ion-col size-xs="11">
              <div class="static-alert-yellow">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                  Possimus ex fugiat, asperiores vero libero quidem totam culpa 
                  consequatur qui amet. Eum doloribus consectetur ab quae corrupti! 
                  Consectetur aut fuga facilis.</p>
              </div>
              <ion-list>
                <ion-item lines="none">
                  <ion-label>Subscribe</ion-label>
                  <ion-checkbox slot="end"></ion-checkbox>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-footer>
          <ion-button class="modal-button ion-hide-lg-up"  (click)="closeNewsLetterModal()">
            Cancel
          </ion-button>
        </ion-footer>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
