ion-footer {
    position: absolute;
    bottom: 88px;
    background: #dedede;

    ion-button {
        height: 60px;
    }

    
}

.modal-button {
    display: block;
    width: 200px;
    height: 150px;
    margin: 1em auto;
}

#profile-wrapper {
    padding-top: 3em;
    height: auto; 

   #profile {
    box-shadow: none;
    padding: 3em 0em;
    border-radius: 5px;
   }
   
}
@media screen and (max-width: 996px) {
    #profile {
        box-shadow: none;
     }
}
@media screen and (min-width: 996px) {
    #profile-wrapper {
        height: 80vh; 
     }

     #profile {
      box-shadow: 1px 1px 10px #dedede;
     }
}
#user-info-header {
    height: auto;
    // background: #999;
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #9999993d;

    p, h2 {
        line-height: 30px;
        margin: 0;
    }
}
span {
    display: inline-block;
    position: relative;
    bottom: 9px;
    left: 10px;

}

// Modals
#change-name-modal,
#change-email-modal,
#change-password-modal,
#news-letter-modal {
    --background: #fff;
}