// Toolbar
#logo {
    height: 44px;
    position: relative;
    bottom: 7px;
    font-weight: 600;
    color: var(--ion-color-primary);
}

ion-tab-bar {
    --border: none;
    box-shadow: 1px -4px 10px #0a0a0a21;
    ion-tab-button {
        --color: #888;
        --color-selected: #00c400;
    
    
        ion-label {
            color: #888;
        }
    }
}


#nav-wrapper {
    box-shadow: 1px 1px 8px #dedede;
    padding: 1.3em 23% 0 23%; 
    height: 80px;
    background: #fff;
    transition: 0.5s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    // position: fixed;
    // width: 100%;
    // z-index: 9999;

    a {
        font-size: 1.1em;
        font-weight: 400;
        color: #999;
        padding: 0.6em 0.4em;
        text-decoration: none;
    }
    .active-link {
        color: var(--ion-color-primary);
        font-weight: 400;
    }
    #desktop-cart-icon {
        margin-right: 4px;
        position: relative;
        top: 4px;
    }
    ion-badge {
        position: relative;
        top: 3px;
    }

    .cart-button-lg-on {
        opacity: 1;
        pointer-events: auto;
    }

    .cart-button-lg-off {
        opacity: 0;
        pointer-events: none;

    }
}

ion-toolbar {
    --background: none;
    box-shadow: 1px 4px 10px #4c4c4c33;
}

// Mobile Tabbar
#cart-tab-bar-count {
    font-size: 1.3em;
}


