<ion-tabs>

  <!-- Toolbar for Desktop -->
  <div id="nav-wrapper" class="ion-hide-lg-down">
    <img id="logo"  src="../../assets/placeholders/placeholder-logo.svg">
    <ul class="ion-float-right">
    <a routerLink="/home" routerLinkActive="active-link">
      Home
    </a>
    <a routerLink="/products" routerLinkActive="active-link">
      Products
    </a>
    <a routerLink="/about" routerLinkActive="active-link">
      About
    </a>
    <a routerLink="/blog" routerLinkActive="active-link">
     Blog
    </a>
    <a routerLink="/profile" routerLinkActive="active-link">
      Profile
    </a>
    <a routerLink="/cart">
      <ion-icon id="desktop-cart-icon" name="cart" style="font-size: 1.5em;"></ion-icon>
      <ion-badge color="primary">0</ion-badge>
    </a>
    </ul>
  </div>

  <ion-tab-bar slot="bottom" class="ion-hide-lg-up">
    <ion-tab-button tab="home">
      <ion-icon name="Home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="products">
      <ion-icon name="ç"></ion-icon>
      <ion-label>Products</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="blog">
      <ion-icon name="document-outline"></ion-icon>
      <ion-label>Blog</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cart">
      <ion-icon name="cart" size="large"></ion-icon>
      <ion-badge color="primary">0</ion-badge>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
