<div id="ratings-stars-wrapper">
    
    <!-- Rating = 0 -->
    <div *ngIf="this.rating == 0">
      <img src="../../../assets/icons/star-outline-grey.svg" alt="Grey Star Icon">
      <img src="../../../assets/icons/star-outline-grey.svg" alt="Grey Star Icon">
      <img src="../../../assets/icons/star-outline-grey.svg" alt="Grey Star Icon">
      <img src="../../../assets/icons/star-outline-grey.svg" alt="Grey Star Icon">
      <img src="../../../assets/icons/star-outline-grey.svg" alt="Grey Star Icon">
    </div>

    <!-- Rating = 1.0 - 1.49 -->
    <div *ngIf="this.rating >= 1 && 1.49 >= this.rating">
      <img src="../../../assets/icons/star-full.svg" alt="Full Star Icon">
      <img src="../../../assets/icons/star-outline.svg" alt="Star Outline Icon">
      <img src="../../../assets/icons/star-outline.svg" alt="Star Outline Icon">
      <img src="../../../assets/icons/star-outline.svg" alt="Star Outline Icon">
      <img src="../../../assets/icons/star-outline.svg" alt="Star Outline Icon">
    </div>

    <!-- Rating = 1.5 - 1.99 -->
    <div *ngIf="this.rating >= 1.5 && 1.99 >= this.rating">
      <img src="../../../assets/icons/star-full.svg" alt="Full Start Icon">
      <img src="../../../assets/icons/star-half-full.svg" alt="Full Start Icon">
      <img src="../../../assets/icons/star-outline.svg" alt="Full Start Icon">
      <img src="../../../assets/icons/star-outline.svg" alt="Full Start Icon">
      <img src="../../../assets/icons/star-outline.svg" alt="Full Start Icon">
    </div>

    <!-- Rating = 2.0 - 2.49 -->
    <div *ngIf="this.rating >= 2.0 && 2.49 >= this.rating">
      <img src="../../../assets/icons/star-full.svg" alt="Full Start Icon">
      <img src="../../../assets/icons/star-full.svg" alt="Full Start Icon">
      <img src="../../../assets/icons/star-outline.svg" alt="Full Start Icon">
      <img src="../../../assets/icons/star-outline.svg" alt="Full Start Icon">
      <img src="../../../assets/icons/star-outline.svg" alt="Full Start Icon">
    </div>

    <!-- Rating = 2.5 - 2.99 -->
    <div *ngIf="this.rating >= 2.5 && 2.99 >= this.rating">
      <img src="../../../assets/icons/star-full.svg" alt="Full Start Icon">
      <img src="../../../assets/icons/star-full.svg" alt="Full Start Icon">
      <img src="../../../assets/icons/star-half-full.svg" alt="Full Start Icon">
      <img src="../../../assets/icons/star-outline.svg" alt="Full Start Icon">
      <img src="../../../assets/icons/star-outline.svg" alt="Full Start Icon">
    </div>

    <!-- Rating = 3.0 - 3.49 -->
    <div *ngIf="this.rating >= 3.0 && 3.49 >= this.rating">
      <img src="../../../assets/icons/star-full.svg" alt="Full Start Icon">
      <img src="../../../assets/icons/star-full.svg" alt="Full Start Icon">
      <img src="../../../assets/icons/star-full.svg" alt="Full Start Icon">
      <img src="../../../assets/icons/star-outline.svg" alt="Full Start Icon">
      <img src="../../../assets/icons/star-outline.svg" alt="Full Start Icon">
    </div>

    <!-- Rating = 3.5 - 3.99 -->
    <div *ngIf="this.rating >= 3.5 && 3.99 >= this.rating">
      <img src="../../../assets/icons/star-full.svg" alt="Full Start Icon">
      <img src="../../../assets/icons/star-full.svg" alt="Full Start Icon">
      <img src="../../../assets/icons/star-full.svg" alt="Full Start Icon">
      <img src="../../../assets/icons/star-half-full.svg" alt="Full Start Icon">
      <img src="../../../assets/icons/star-outline.svg" alt="Full Start Icon">
    </div>

    <!-- Rating = 4.0 - 4.49 -->
    <div *ngIf="this.rating >= 4.0 && 4.49 >= this.rating">
      <img src="../../../assets/icons/star-full.svg" alt="Full Start Icon">
      <img src="../../../assets/icons/star-full.svg" alt="Full Start Icon">
      <img src="../../../assets/icons/star-full.svg" alt="Full Start Icon">
      <img src="../../../assets/icons/star-full.svg" alt="Full Start Icon">
      <img src="../../../assets/icons/star-outline.svg" alt="Full Start Icon">
    </div>

    <!-- Rating = 4.5 - 4.99 -->
    <div *ngIf="this.rating >= 4.5 && 4.79 >= this.rating">
      <img src="../../../assets/icons/star-full.svg" alt="Full Start Icon">
      <img src="../../../assets/icons/star-full.svg" alt="Full Start Icon">
      <img src="../../../assets/icons/star-full.svg" alt="Full Start Icon">
      <img src="../../../assets/icons/star-full.svg" alt="Full Start Icon">
      <img src="../../../assets/icons/star-half-full.svg" alt="Full Start Icon">
    </div>

    <!-- Rating = 5.0 -->
    <div *ngIf="this.rating >= 4.8 && 5.0 >= this.rating">
      <img src="../../../assets/icons/star-full.svg" alt="Full Start Icon">
      <img src="../../../assets/icons/star-full.svg" alt="Full Start Icon">
      <img src="../../../assets/icons/star-full.svg" alt="Full Start Icon">
      <img src="../../../assets/icons/star-full.svg" alt="Full Start Icon">
      <img src="../../../assets/icons/star-full.svg" alt="Full Start Icon">
    </div>
</div>
