@import 'swiper/scss';
@import "~swiper/css";

#featured-products-item,
#favorite-products-item,
#all-products-item {
    background: #ededed;
}

#all-products-item {
    // background: #ffdcca;
}

#results-header {
    padding: 1em;
    background: #ececec;
    margin: 2em auto;
}
ion-icon{
    color: #333;
    margin-right: 0.5em;
}

.searchbar-input {
    color: #333 !important;
}
.filter-action-sheet {
    --color: #333;
    --button-color: #0270ff;
    --background: #f1f1f1;

    .action-sheet-title {
        background: #e4e4e4;
        font-weight: 600;
    }

    .filter-action-sheet-cancel-button {
        color: #999;
    }
}

.featured-product {
    width: 95%;
    float: left;
    justify-content: left;
}
#no-search-results {
    text-align: center;
    background: #999;
    padding: 1em;
    border-radius: 5px;
    color: #fff;
    font-size: 1.1em;
    margin: 5em auto;

    ion-icon {
        color: white;
    }
}

.product-wrapper {
    height: 250px;
    background: #f2f2f2;
    margin-bottom: 10px;
    padding: 1em;
    opacity: 0;
    transition: 0.5s;
    animation: products-slide-up 1s cubic-bezier(0.215, 0.610, 0.355, 1) forwards;

    .product-duration {
        font-size: 0.7em;
        color: #999;
    }

    .product-category {
        font-size: 0.6em;
        color: #5a5a5a;
    }

    .product-title {

    }

    .product-rating {

    }

    .product-price {
        display: flex;
        align-items: center;
        border-left: 2px solid #0055a5;
        font-weight: 600;
        color: #333;
        padding: 0.3em;
        width: 65px;
        height: 18px;
        margin-top: 1em;
    }

    .product-reviews-length {
        
    }

    .product-photo {
        background-image: url('../../../assets/placeholders/placeholder-logo.svg');
        background-size: contain;
        background-repeat: no-repeat;
    }

    ion-toolbar {
        --background: none;
        position: absolute;
        bottom: 0;

        ion-buttons {

            .favorite-this-product-button {
                --background: #ffbbbb;
                --border-radius: 50px;
                text-align: center;
                border-radius: 57px;
                height: 40px;
                padding-left: 6px;
            }

            ion-icon {
                color: red;
                position: relative;
                left: 2px;
                top: 1px;
            }
            
        }
    }

    ion-icon {
        font-size: 2em;
    }

    .product-message-green {
        border-left: 4px solid red;
    }
    .product-message-red {
        border-left: 4px solid green;
    }
}

@keyframes products-slide-up {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);

    }
}

#categories {
    background: #f3f3f3;
    position: relative;
    top: -14px;

}
#logo {
    margin: auto 1em;
}
#fab-button {
    opacity: 0;
}

// Swiper
#category-swiper {
    margin-left: 1em;

    .active-category {
        --background: #ffb28b !important;
        color: #222 !important;
    }

    .category {
        font-size: 0.53em;
        width: auto;
        text-align: center;
        position: relative;
        top: 2px;
        width: 122px !important;
        --background: #c9c9c9;
        --box-shadow: none;
        border-radius: 20px;
        height: 35px;
        color: #222;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}
#featured-swiper {
    height: 315px;
    // background: lightblue;
    transition: 0.3s;
}

#feature-swiper-overlay {
    height: 100%;
    width: 100%;
    background: linear-gradient(
        90deg, #00000033, transparent);
    z-index: 9999;
    position: absolute;
    top: 0px;
    pointer-events: none;
}

.swiper {
    width: 100%;
    height: 60px;
}
.swiper-slide {
  font-size: 18px;
//   background: #09855b;
//   border-radius: 10px;
//   box-shadow: 1px 1px 5px #999;
  margin: 0 auto;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}