<ion-content #productsPageContent [scrollEvents]="true" (ionScroll)="scrollPosition($event)">
  
  <div id="featured-return-position"></div>
  <ion-grid>

    <!-- Skeleton UI Mobile -->
    <div *ngIf="this.skeletonData">
      <div class="ion-padding custom-skeleton">
        <ion-list>
          <ion-item lines="none">
            <ion-label>
              <h3>
                <ion-skeleton-text class="is-square" animated></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text class="is-text" animated style="width: 80%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text class="is-text" animated style="width: 70%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text class="is-text" animated style="width: 60%"></ion-skeleton-text>
              </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
    </div>

    <!-- Products / Mobile -->
    <ng-container>
      <ion-accordion-group 
        class="ion-hide-lg-up"
        value="all" 
        id="accordian-group"
        (ionChange)="accordianChange($event)">

        <!-- Featured Products -->
        <ion-accordion value="featured" id="featured-products-accordian">
          
          <ion-item id="featured-products-item" lines="none" slot="header">
            <ion-label>Featured | {{this.featuredProductsLength}}</ion-label>
            <ion-icon name="pricetag-outline" slot="start"></ion-icon>
          </ion-item>

          <ion-list slot="content">

            <div id="feature-swiper-overlay"></div>

            <!-- Featured Products -->
            <swiper
              id="featured-swiper"
              [config]="featuredSwiperConfig" 
              (swiper)="onSwiper($event)">
                <ng-template swiperSlide *ngFor="let featuredProduct of featuredProducts">
                    <ion-row 
                    class="featured-product product-wrapper ion-justify-content-center">
                      <ion-col class="product-photo" size="6"
                      (click)="goToProductPage(featuredProduct)">

                      </ion-col>
                      <ion-col size="6"
                      (click)="goToProductPage(featuredProduct._id)">
                        <div (click)="goToProductPage()">
                          <p class="product-price">${{featuredProduct.price}}</p>
                          
                          <h6 class="product-title">{{featuredProduct.title}}</h6>
                          <app-ratings-stars [rating]="featuredProduct.rating"></app-ratings-stars>
                          <p class="product-duration">Duration: {{featuredProduct.duration}} Mins</p>
                          <p class="product-category"># {{featuredProduct.category}}</p>
                          <h5 class="product-reviews-length">Reviews {{featuredProduct.reviews}}</h5>
                        </div>                 
                        
                      </ion-col>
                      <ion-toolbar *ngIf="this.authState" style="z-index: 9999;">
                      <ion-buttons slot="start">
                        <ion-button  id="cart-button" (click)="addToCart(featuredProduct._id, featuredProduct.title, cartButton)">
                          <ion-icon #cartButton slot="start" name="cart-outline"></ion-icon>
                        </ion-button>
                      </ion-buttons>
                      <ion-buttons slot="end">
                        <app-favorite-icon
                        [id]="featuredProduct._id"
                        [email]="this.userEmail"></app-favorite-icon>
                      </ion-buttons>
                      </ion-toolbar>  
                    </ion-row>
                </ng-template>
            </swiper>
          </ion-list>
        </ion-accordion>
        
        <!-- Favorite Products -->
        <ion-accordion *ngIf="this.authState" value="favorites" id="favorite-products-accordian">
          
          <ion-item id="favorite-products-item" lines="none" slot="header">
            <ion-label>Favorites | {{this.favoriteProductsLength}}</ion-label>
            <ion-icon name="heart" slot="start"></ion-icon>
          </ion-item>
      
          <ion-list slot="content">
            <!-- If User has no Favorites -->
            <!-- <ion-item *ngIf="this.favoriteProducts.length == 0" lines="none">
              <p>You have no Favorites! Please hit the [heart] icon on a product to favorite it.</p>
            </ion-item> -->
            <!-- Products -->
            <!-- Using same data from Featured data for now -->
            <div>
                <ion-row
                *ngFor="let product of favoriteProducts"
                style="width: 100%;"
                class="product-wrapper ion-justify-content-center">
                <ion-col (click)="this.goToProductPage()" class="product-photo" size="6">
          
                </ion-col>
                <ion-col size="6">
                  <div (click)="this.goToProductPage()">
                    <p class="product-price">${{product.price}}</p>
                    <h6 class="product-title">{{product.title}}</h6>
                    <app-ratings-stars [rating]="product.rating"></app-ratings-stars>
                    <p class="-product-duration">Duration: {{product.duration}} Mins</p>
                    <p class="product-category"># {{product.category}}</p>
                    <!-- user's favoriteProducts collection on has IDs -->
                    <p class="product-reviews-length">Reviews {{product.reviews}}</p>
                  </div>
                </ion-col>
 
                <!-- Cart + Favorites Toolbar -->
                <ion-toolbar>
                  <ion-buttons slot="start">
                    <ion-button id="cart-button" (click)="onClick()">
                      <ion-icon slot="start" name="cart-outline"></ion-icon>
                    </ion-button>
                  </ion-buttons>
                  <!-- <ion-buttons slot="end">
                    <app-favorite-icon 
                    [id]="product._id"
                    [email]="this.userEmail"
                    ></app-favorite-icon>
                  </ion-buttons> -->
                </ion-toolbar> 

                </ion-row>
            </div>
          </ion-list>
        </ion-accordion>

        <!-- All Products -->
        <ion-accordion value="all" id="all-products-accordian">
          
          <ion-item id="all-products-item" slot="header" lines="none">
            <ion-label>All | {{this.searchLoadedProductsLength}}</ion-label>
            <ion-icon name="list-outline" slot="start"></ion-icon>
          </ion-item>
      
          <!-- Results Bar -->
          <ion-list slot="content">
            <ion-row class="ion-justify-content-center">
              <ion-col size-xs="11" size-sm="10" size-md="8" size-lg="8">
                <h3>Categories:</h3>
              </ion-col>

              <ion-col size-xs="12" size-sm="12" size-md="10" size-lg="8">

                <!-- Categories Swiper -->
                <swiper
                  id="category-swiper"
                  [config]="categorySwiperConfig" 
                  (swiper)="onSwiper($event)">

                    <ng-template swiperSlide>
                      <ion-button 
                        (click)="changeCategory('all', $event)"
                        [ngClass]="this.activeCategory == 'all' ? 'active-category category' : 'category'">
                        All
                      </ion-button>
                    </ng-template>
                    <ng-template swiperSlide>
                      <ion-button 
                        (click)="changeCategory('relaxation', $event)" 
                        [ngClass]="this.activeCategory == 'relaxation' ? 'active-category category' : 'category'">
                        Relaxation
                      </ion-button>
                    </ng-template>
                    <ng-template swiperSlide>
                      <ion-button 
                        (click)="changeCategory('sleep', $event)" 
                        [ngClass]="this.activeCategory == 'sleep' ? 'active-category category' : 'category'">
                        Sleep
                      </ion-button>
                    </ng-template>
                    <ng-template swiperSlide>
                      <ion-button 
                        (click)="changeCategory('relationships', $event)"  
                        [ngClass]="this.activeCategory == 'relationships' ? 'active-category category' : 'category'">
                        Relationships
                      </ion-button>
                    </ng-template>
                    <ng-template swiperSlide>
                      <ion-button 
                        (click)="changeCategory('self-improvement', $event)"
                        [ngClass]="this.activeCategory == 'self-improvement' ? 'active-category category' : 'category'">
                        Self-Improvement
                      </ion-button>
                    </ng-template>
                    <ng-template swiperSlide>
                      <ion-button 
                        (click)="changeCategory('business', $event)" 
                        [ngClass]="this.activeCategory == 'business' ? 'active-category category' : 'category'">
                        Business
                      </ion-button>
                    </ng-template>
                </swiper>

              </ion-col>

              <h5 id="results-header">Results: {{filterOption}} ({{this.searchLoadedProductsLength}})</h5>
            </ion-row> 

            <!-- If No Search Results -->
            <ion-row *ngIf="searchLoadedProductsLength == 0" class="ion-justify-content-center">
              <ion-col size-xs="11" size-sm="10" size-md="8" size-lg="8">
                <p id="no-search-results">
                  <ion-icon name="search-outline"></ion-icon>
                  No Search Results. Please try again</p>
              </ion-col>
            </ion-row>

            <div id="fab-visible-position"></div>

            <!-- Products -->
            <div >
                <ion-row
                *ngFor="let product of this.searchLoadedProducts"
                style="width: 100%;"
                class="product-wrapper ion-justify-content-center">
                <ion-col (click)="this.goToProductPage()" class="product-photo" size="6">
          
                </ion-col>
                <ion-col size="6">
                  <div (click)="this.goToProductPage()">
                    <p class="product-price">${{product.price}}</p>
                    <h6 class="product-title">{{product.title}}</h6>
                    <app-ratings-stars [rating]="product.rating"></app-ratings-stars>
                    <p class="duration">Duration: {{product.duration}} Mins</p>
                    <p class="product-category"># {{product.category}}</p>
                    <p class="product-reviews-length">Reviews {{product.reviews.length}}</p>
                  </div>
                  <!-- <div class="product-message-green"></div>
                  <div class="product-message-red"></div> -->
                                
                  
                </ion-col>

                <!-- Cart + Favorites Toolbar -->
                <ion-toolbar *ngIf="this.authState">
                  <ion-buttons slot="start">
                    <ion-button id="cart-button" (click)="onClick()">
                      <ion-icon slot="start" name="cart-outline"></ion-icon>
                    </ion-button>
                  </ion-buttons>
                  <ion-buttons slot="end">
                    <app-favorite-icon 
                    [id]="product._id"
                    [email]="this.userEmail"></app-favorite-icon>
                  </ion-buttons>
                </ion-toolbar> 

                </ion-row>
            </div>

          </ion-list>

        </ion-accordion>

      </ion-accordion-group>
    </ng-container>

    <ion-row *ngIf="!this.authState" >
      <ion-col size="12">
        <div class="spacer-1x"></div>
        <p class="static-alert-yellow">Please login to see you Favorites.</p>
      </ion-col>
    </ion-row>

    <!-- Products / Lg -->
    <ion-row class="spacer-5x ion-hide-lg-down ion-justify-content-center">
      
      <!-- ProductsLg Toolbar -->
      <ion-col size="6.7">
        <ion-toolbar id="product-lg-toolbar">

          <!-- Category Buttons -->
          <ion-buttons slot="start">
            <ion-button [ngClass]="this.categoryLg == 'featured' ? 'active-category-lg' : ''" (click)="featuredLg()">
              Featured
            </ion-button>
            <ion-button [ngClass]="this.categoryLg == 'favorites' ? 'active-category-lg' : ''" (click)="favoritesLg()">
              Favorites
            </ion-button>
            <ion-button [ngClass]="this.categoryLg == 'all' ? 'active-category-lg' : ''" (click)="allLg()">
              All
            </ion-button>
          </ion-buttons>

          <!-- All Products Search Bar -->
          <ion-searchbar 
            *ngIf="this.categoryLg == 'all'" 
            placeholder="Search All Products" 
            inputmode="decimal" 
            type="decimal" 
            (ionChange)="onSearchChange($event, 'lg')" 
            [debounce]="250" 
            showCancelButton="always">
          </ion-searchbar>


          <!-- Filter -->
          <ion-buttons *ngIf="this.categoryLg == 'all'" id="filter-button" slot="end">
            <ion-button (click)="openFilterActionSheet()">
              <ion-icon name="filter-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-col>

      <!-- Skeleton UI Lg -->
      <ion-col size="6.7" *ngIf="this.skeletonDataLg">
        <div class="ion-padding custom-skeleton">
          <ion-list>
            <ion-item lines="none">
              <ion-label>
                <h3>
                  <ion-skeleton-text class="is-square" animated></ion-skeleton-text>
                </h3>
                <p>
                  <ion-skeleton-text class="is-text" animated style="width: 80%"></ion-skeleton-text>
                </p>
                <p>
                  <ion-skeleton-text class="is-text" animated style="width: 70%"></ion-skeleton-text>
                </p>
                <p>
                  <ion-skeleton-text class="is-text" animated style="width: 60%"></ion-skeleton-text>
                </p>
              </ion-label>
            </ion-item>
          </ion-list>
        </div>
      </ion-col>

      <!-- Products Message -->
      <ion-col *ngIf="this.categoryLg == 'featured' && !this.skeletonDataLg" size="6.7">
        <p id="featured-page-message-lg">This is a message.</p>
      </ion-col>

      <!-- FeaturedLg -->
      <ion-col 
        *ngIf="this.categoryLg == 'featured'" 
        size="6.7">

        <ion-row>
          <ion-col 
            *ngFor="let featuredProduct of featuredProducts"
            (click)="goToProductPage(featuredProduct._id)"
            class="product-lg" 
            size-lg="3.8" size-xl="3.8">
            <div class="product-lg-image">

            </div>
            <div class="spacer-2x"></div>
            <div>
              <p class="product-price">${{featuredProduct.price}}</p>
              <h6 class="product-title">{{featuredProduct.title}}</h6>
              <p class="product-duration">Duration: {{featuredProduct.duration}} Mins</p>
              <p class="product-category"># {{featuredProduct.category}}</p>
              <p class="product-reviews-length">Reviews {{featuredProduct.reviews.length}}</p>
              
              <!-- Ratings Stars -->
              <ion-toolbar class="product-lg-lower-toolbar">
                <app-ratings-stars [rating]="featuredProduct.rating"></app-ratings-stars>
                
                <ion-buttons slot="end">
                    <app-favorite-icon 
                    *ngIf="this.authState"
                    [id]="featuredProduct._id"
                    [email]="this.userEmail"></app-favorite-icon>
                </ion-buttons>
              </ion-toolbar>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>

      <!-- FavoritesLg -->
      <ion-col *ngIf="this.categoryLg == 'favorites' && this.favoriteProducts.length == 0 && !this.skeletonDataLg" size="6.7">
        <h1>You have no favorites! To add a favorite product, tap the Heart icon.</h1>
      </ion-col>
      
      <!-- FavoritesLg -->
      <ion-col
        *ngIf="this.categoryLg == 'favorites' && !this.skeletonDataLg" 
        size="6.7">
        <ion-row>
          <ion-col *ngFor="let product of favoriteProducts" 
            class="product-lg" 
            size="3.8">
            <div class="product-lg-image">

            </div>
            <div class="spacer-2x"></div>
            <div>
              <p class="product-price">${{product.price}}</p>
              <h6 class="product-title">{{product.title}}</h6>
              <p class="product-duration">Duration: {{product.duration}} Mins</p>
              <p class="product-category"># {{product.category}}</p>
              <p class="product-reviews-length">Reviews {{product.reviews.length}}</p>
              
              <!-- Ratings Stars -->
              <ion-toolbar class="product-lg-lower-toolbar">
                <app-ratings-stars [rating]="product.rating"></app-ratings-stars>
                
                <ion-buttons slot="end">
                    <app-favorite-icon 
                    *ngIf="this.authState"
                    [id]="product._id"
                    [email]="this.userEmail"></app-favorite-icon>
                </ion-buttons>
              </ion-toolbar>
            </div>
          
          </ion-col>
        </ion-row>
      </ion-col>

      <!-- AllProductsLg -->
      <ion-col *ngIf="this.categoryLg == 'all' && !this.skeletonDataLg" 
        size="6.7">

        <ion-row>
          <ion-col *ngFor="let product of searchLoadedProducts" 
            class="product-lg" 
            size="3.8">
            <div class="product-lg-image" alt="Hypnosis MP3 Download">

            </div>
            <div class="spacer-2x"></div>
            <div>
              <p class="product-price">${{product.price}}</p>
              <h6 class="product-title">{{product.title}}</h6>
              <p class="product-duration">Duration: {{product.duration}} Mins</p>
              <p class="product-category"># {{product.category}}</p>
              <p class="product-reviews-length">Reviews {{product.reviews.length}}</p>

              <!-- Ratings Stars -->
              <ion-toolbar class="product-lg-lower-toolbar">
                <app-ratings-stars [rating]="product.rating"></app-ratings-stars>
                
                <ion-buttons slot="end">
                    <app-favorite-icon 
                    *ngIf="this.authState"
                    [id]="product._id"
                    [email]="this.userEmail"></app-favorite-icon>
                </ion-buttons>
              </ion-toolbar>
            </div>
          
          </ion-col>
        </ion-row>
        
      </ion-col>
    
      <!-- No Search Results Message -->
      <ion-col *ngIf="this.categoryLg == 'all' && this.searchLoadedProducts.length == 0 && !this.skeletonDataLg" size="6.7">
        <h1>No results from search was found.</h1>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-fab
    class="ion-hide-lg-up"
    (click)="scrollToTop()"
    id="fab-button" 
    vertical="bottom" 
    horizontal="end" 
    slot="fixed">
    <ion-fab-button>
      <ion-icon name="chevron-up-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
