<ion-content #productsPageContent [scrollEvents]="true" (ionScroll)="scrollPosition($event)">
  
  <div id="featured-return-position"></div>
  <ion-grid>

    <!-- Skeleton UI Mobile -->
    <div *ngIf="this.skeletonData">
      <div class="ion-padding custom-skeleton">
        <ion-list>
          <ion-item lines="none">
            <ion-label>
              <h3>
                <ion-skeleton-text class="is-square" animated></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text class="is-text" animated style="width: 80%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text class="is-text" animated style="width: 70%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text class="is-text" animated style="width: 60%"></ion-skeleton-text>
              </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
    </div>


    <ion-toolbar id="product-lg-toolbar">

      <!-- Category Buttons -->
      <ion-buttons slot="start" style="position: relative; top: -8px;">
        <ion-button [ngClass]="this.categoryLg == 'featured' ? 'active-category-lg' : ''" (click)="featuredLg()">
          Featured
        </ion-button>
        <ion-button [ngClass]="this.categoryLg == 'favorites' ? 'active-category-lg' : ''" (click)="favoritesLg()">
          Favorites
        </ion-button>
        <ion-button [ngClass]="this.categoryLg == 'all' ? 'active-category-lg' : ''" (click)="allLg()">
          All
        </ion-button>
      </ion-buttons>

      <!-- All Products Search Bar -->
      <ion-searchbar 
        id="products-search"
        *ngIf="this.categoryLg == 'all'" 
        placeholder="Search All Products" 
        inputmode="decimal" 
        type="decimal" 
        (ionChange)="onSearchChange($event, 'lg')" 
        [debounce]="250" 
        showCancelButton="always">
      </ion-searchbar>


      <!-- Filter -->
      <ion-buttons #filterButton *ngIf="this.categoryLg == 'all'" id="filter-button" slot="end">
        <ion-button (click)="openFilterActionSheet()">
          Filter
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

    <ion-row>
      <ion-col id="products-page-header" size="12"></ion-col>
    </ion-row>

    <!-- Products / Mobile -->
    <ng-container>

      <ion-accordion-group 
        class="ion-hide-lg-up"
        value="all" 
        id="accordian-group"
        (ionChange)="accordianChange($event)">
        
        <!-- Favorite Products -->
        <ion-accordion *ngIf="this.authState" value="favorites" id="favorite-products-accordian">
          
          <ion-item id="favorite-products-item" lines="none" slot="header">
            <span class="acc-title">{{this.favoriteProductsLength}}</span>
            <ion-label>Favorites</ion-label>
            <ion-icon name="heart" slot="start"></ion-icon>
          </ion-item>
      
          <ion-list slot="content">
            <!-- If User has no Favorites -->
            <!-- <ion-item *ngIf="this.favoriteProducts.length == 0" lines="none">
              <p>You have no Favorites! Please hit the [heart] icon on a product to favorite it.</p>
            </ion-item> -->
            <!-- Products -->
            <!-- Using same data from Featured data for now -->
            <div>
                <ion-row
                *ngFor="let product of favoriteProducts"
                style="width: 100%;"
                class="product-wrapper ion-justify-content-center">
                <ion-col (click)="this.goToProductPage(product._id)" class="product-photo" size="6">
          
                </ion-col>
                <ion-col size="6">
                  <div (click)="this.goToProductPage(product.price)">
                    <p class="product-price">${{product.price}}</p>
                    <h6 class="product-title">{{product.title}}</h6>
                    <app-ratings-stars [rating]="product.rating"></app-ratings-stars>
                    <p class="-product-duration">Duration: {{product.duration}} Mins</p>
                    <p class="product-category"># {{product.category}}</p>
                    <!-- user's favoriteProducts collection on has IDs -->
                    <p class="product-reviews-length">Reviews {{product.reviews.length}}</p>
                  </div>
                </ion-col>
 
                <!-- Cart + Favorites Toolbar -->
                <ion-toolbar>
                  <ion-buttons #cartButton (click)="tryAddToCart(product._id, product.title, cartButton)" slot="start">
                    <img class="cart-button" src="../../../assets/icons/add-to-cart.svg" alt="Hypnosis Downloads Product">
                  </ion-buttons>
                  <ion-buttons slot="end">
                    <app-favorite-icon 
                    [id]="product._id"
                    [email]="this.userEmail"
                    ></app-favorite-icon>
                  </ion-buttons>
                </ion-toolbar> 

                </ion-row>
            </div>
          </ion-list>

        </ion-accordion>

        <div *ngIf="!this.authState" style="margin-top: 55px;"></div>

        <!-- All Products -->
        <ion-accordion value="all" id="all-products-accordian">
          
          <ion-item id="all-products-item" slot="header" lines="none">
            <span class="acc-title">{{this.searchLoadedProductsLength}}</span>
            <ion-label>All Products</ion-label>
            <ion-icon name="list-outline" slot="start"></ion-icon>
          </ion-item>
      
          <!-- Results Bar -->
          <ion-list slot="content">
            <ion-row class="ion-justify-content-center">
              <ion-col size-xs="11" size-sm="10" size-md="8" size-lg="8">
                <h3>Categories:</h3>
              </ion-col>

              <ion-col size-xs="12" size-sm="12" size-md="10" size-lg="8">

                <!-- Categories Swiper -->
                <swiper
                  id="category-swiper"
                  [config]="categorySwiperConfig" 
                  (swiper)="onSwiper($event)">

                    <ng-template swiperSlide>
                      <ion-button 
                        (click)="changeCategory('all', $event)"
                        [ngClass]="this.activeCategory == 'all' ? 'active-category category' : 'category'">
                        All
                      </ion-button>
                    </ng-template>
                    <ng-template swiperSlide>
                      <ion-button 
                        (click)="changeCategory('relaxation', $event)" 
                        [ngClass]="this.activeCategory == 'relaxation' ? 'active-category category' : 'category'">
                        Relaxation
                      </ion-button>
                    </ng-template>
                    <ng-template swiperSlide>
                      <ion-button 
                        (click)="changeCategory('sleep', $event)" 
                        [ngClass]="this.activeCategory == 'sleep' ? 'active-category category' : 'category'">
                        Sleep
                      </ion-button>
                    </ng-template>
                    <ng-template swiperSlide>
                      <ion-button 
                        (click)="changeCategory('relationships', $event)"  
                        [ngClass]="this.activeCategory == 'relationships' ? 'active-category category' : 'category'">
                        Relationships
                      </ion-button>
                    </ng-template>
                    <ng-template swiperSlide>
                      <ion-button 
                        (click)="changeCategory('self-improvement', $event)"
                        [ngClass]="this.activeCategory == 'self-improvement' ? 'active-category category' : 'category'">
                        Self-Improvement
                      </ion-button>
                    </ng-template>
                    <ng-template swiperSlide>
                      <ion-button 
                        (click)="changeCategory('business', $event)" 
                        [ngClass]="this.activeCategory == 'business' ? 'active-category category' : 'category'">
                        Business
                      </ion-button>
                    </ng-template>
                </swiper>

              </ion-col>

              <h5 id="results-header">Results: {{filterOption}} ({{this.searchLoadedProductsLength}})</h5>
            </ion-row> 

            <!-- If No Search Results -->
            <ion-row *ngIf="searchLoadedProductsLength == 0" class="ion-justify-content-center">
              <ion-col size-xs="11" size-sm="10" size-md="8" size-lg="8">
                <p id="no-search-results">
                  <ion-icon name="search-outline"></ion-icon>
                  No Search Results. Please try again</p>
              </ion-col>
            </ion-row>

            <div id="fab-visible-position"></div>

            <!-- Products -->
            <div>
              <ion-row
                *ngFor="let product of this.searchLoadedProducts"
                style="width: 100%;"
                class="product-wrapper ion-justify-content-center">
                <ion-col (click)="this.goToProductPage(product._id)" class="product-photo" size="6">
          
                </ion-col>
                <ion-col size="6">
                  <div (click)="this.goToProductPage(product._id)">
                    <p class="product-price">${{product.price}}</p>
                    <h6 class="product-title">{{product.title}}</h6>
                    <app-ratings-stars [rating]="product.rating"></app-ratings-stars>
                    <p class="duration">Duration: {{product.duration}} Mins</p>
                    <p class="product-category"># {{product.category}}</p>
                    <p class="product-reviews-length">Reviews {{product.reviews.length}}</p>
                  </div>
                  <!-- <div class="product-message-green"></div>
                  <div class="product-message-red"></div> -->
                                
                  
                </ion-col>

                <!-- Cart + Favorites Toolbar -->
                <ion-toolbar *ngIf="this.authState">
                  <ion-buttons #cartButton (click)="tryAddToCart(product._id, product.title, cartButton)" slot="start">
                    <img class="cart-button" src="../../../assets/icons/add-to-cart.svg" alt="Hypnosis Downloads Product">
                  </ion-buttons>
                  <ion-buttons slot="end">
                    <app-favorite-icon 
                    [id]="product._id"
                    [email]="this.userEmail"></app-favorite-icon>
                  </ion-buttons>
                </ion-toolbar> 

               
              </ion-row>
            </div>

          </ion-list>

        </ion-accordion>

        <!-- Featured Products -->
        <ion-accordion value="featured" id="featured-products-accordian">
          
          <ion-item id="featured-products-item" lines="none" slot="header">
            <span class="acc-title">{{this.featuredProductsLength}}</span>
            <ion-label>Featured</ion-label>
            <ion-icon name="pricetag-outline" slot="start"></ion-icon>
          </ion-item>

          <ion-list slot="content">

            <!-- Log in message -->
            <ion-row *ngIf="!this.authState" class="ion-hide-lg-up">
              <ion-col size="12">
                <div class="spacer-1x"></div>
                <p class="static-alert-yellow">Log in to buy or favorite a product.</p>
              </ion-col>
            </ion-row>

            <!-- <div id="feature-swiper-overlay"></div> -->

            <!-- Swiper -->
            <swiper
              id="featured-swiper"
              [config]="featuredSwiperConfig" 
              (swiper)="onSwiper($event)">

                <ng-template swiperSlide  *ngFor="let featuredProduct of featuredProducts">
                  
                  <!-- Products -->
                  <ion-row class="product-wrapper">
                    <ion-col (click)="goToProductPage(featuredProduct)" size="12">
                      <img class="mobile-products-slider-img" src="../../../../assets/placeholders/placeholder-logo.svg" alt="Hypnosis Site Related Product Photo">
                    </ion-col>
                    <ion-col (click)="goToProductPage(featuredProduct)" size="11">
                      <p class="product-price">${{featuredProduct.price}}</p>
                      <h6 class="product-title">{{featuredProduct.title}}</h6>  
                      <app-ratings-stars [rating]="featuredProduct.rating"></app-ratings-stars>
                      <p class="product-duration">Duration: {{featuredProduct.duration}} Mins</p>
                      <p class="product-category">#{{featuredProduct.category}}</p>
                      <h5 class="product-reviews-length">Reviews: {{featuredProduct.reviews.length}}</h5>

                    </ion-col>
                    <ion-toolbar *ngIf="this.authState">
                      <ion-buttons #cartButton  slot="start">
                        <img class="cart-button" (click)="tryAddToCart(featuredProduct._id, featuredProduct.title, cartButton)" *ngIf="!this.cart.includes(featuredProduct._id)" src="../../../assets/icons/add-to-cart.svg" alt="Hypnosis Downloads Product">
                        <img class="cart-button" (click)="tryRemoveFromCart(featuredProduct._id, featuredProduct.title, cartButton)" *ngIf="this.cart.includes(featuredProduct._id)" src="../../../assets/icons/remove-from-cart.svg" alt="Hypnosis Downloads Product">
                      </ion-buttons>
                    <ion-buttons slot="end">
                      <app-favorite-icon [id]="featuredProduct._id"></app-favorite-icon>
                    </ion-buttons>
                    </ion-toolbar>
                  </ion-row>
                </ng-template>

            </swiper>
          </ion-list>
        </ion-accordion>

      </ion-accordion-group>

    </ng-container>

    <!-- Products / Lg -->
    <ion-row id="products-page-wrapper" class="ion-hide-lg-down ion-justify-content-center">
      
      <!-- Products Lg Toolbar -->
      <ion-col size="6.7">
      </ion-col>

      <!-- Skeleton UI Lg -->
      <ion-col size="7" *ngIf="this.skeletonDataLg">
        <div class="ion-padding custom-skeleton">
          <ion-list>
            <ion-item lines="none">
              <ion-label>
                <h3>
                  <ion-skeleton-text class="is-square" animated></ion-skeleton-text>
                </h3>
                <p>
                  <ion-skeleton-text class="is-text" animated style="width: 80%"></ion-skeleton-text>
                </p>
                <p>
                  <ion-skeleton-text class="is-text" animated style="width: 70%"></ion-skeleton-text>
                </p>
                <p>
                  <ion-skeleton-text class="is-text" animated style="width: 60%"></ion-skeleton-text>
                </p>
              </ion-label>
            </ion-item>
          </ion-list>
        </div>
      </ion-col>

      <!-- Featured Message -->
      <!-- <ion-col *ngIf="this.categoryLg == 'featured' && !this.skeletonDataLg" size="6.7">
        <div class="static-alert-blue" style="width: 100%;">
          <p>This is a message.</p>
        </div>
        <div class="spacer-2x"></div>
      </ion-col> -->

      <!-- FeaturedLg -->
      <ion-col 
        *ngIf="this.categoryLg == 'featured'" 
        size="12">

        <!-- Product -->
        <ion-row  class="ion-justify-content-center ion-hide-lg-down">
            <ion-col size-lg="4" size-xl="4" *ngFor="let featuredProduct of this.featuredProducts">
                    <ion-row
                        class="products-product-wrapper ion-justify-content-center">
                        <ion-col class="product-photo" size="6"
                              (click)="goToProductPage(featuredProduct._id)">
        
                        </ion-col>
                        <ion-col size="6"
                              (click)="goToProductPage(featuredProduct._id)">
                                <div>
                                  <p class="product-price">${{featuredProduct.price}}</p>
                                  
                                  <h6 class="product-title">{{featuredProduct.title}}</h6>
                                  <app-ratings-stars [rating]="featuredProduct.rating"></app-ratings-stars>
                                  <p class="product-duration">Duration: {{featuredProduct.duration}} Mins</p>
                                  <p class="product-category"># {{featuredProduct.category}}</p>
                                  <!-- <h5 class="product-reviews-length">Reviews {{featuredProduct.reviews.length}}</h5> -->
                                </div>                 
                                
                        </ion-col>
        
                        <ion-toolbar *ngIf="this.authState">

                          <ion-buttons #cartButton  slot="start">
                            <img class="cart-button" 
                                (click)="tryAddToCart(featuredProduct._id, featuredProduct.title, cartButton)"
                                *ngIf="!this.cart.includes(featuredProduct._id)" 
                                src="../../../assets/icons/add-to-cart.svg" 
                                alt="Hypnosis Downloads Product">
                            <img class="cart-button"
                                (click)="tryRemoveFromCart(featuredProduct._id, featuredProduct.title, cartButton)"
                                *ngIf="this.cart.includes(featuredProduct._id)" 
                                src="../../../assets/icons/remove-from-cart.svg" 
                                alt="Hypnosis Downloads Product">
                        </ion-buttons>

                              <ion-buttons slot="end">
                                <app-favorite-icon
                                [id]="featuredProduct._id"
                                [email]="this.userEmail"></app-favorite-icon>
                              </ion-buttons>
                        </ion-toolbar>  
                    </ion-row>
            </ion-col>
        </ion-row>

      </ion-col>

      <!-- Favorites Message -->
      <ion-col *ngIf="this.categoryLg == 'favorites' && this.favoriteProducts.length == 0 && !this.skeletonDataLg" size="6.7">
        <h1>You have no favorites! To add a favorite product, tap the Heart icon.</h1>
      </ion-col>
      
      <!-- FavoritesLg -->
      <ion-col
        *ngIf="this.categoryLg == 'favorites' && !this.skeletonDataLg" 
        size="12">

        <!-- Product -->
        <ion-row class="ion-justify-content-center ion-hide-lg-down">
          <ion-col size="7">
            <ion-row>
                <ion-col size-lg="4" *ngFor="let product of this.favoriteProducts">
                    <ion-row
                        class="products-product-wrapper ion-justify-content-center">
                        <ion-col class="product-photo" size="6"
                              (click)="goToProductPage(product._id)">
        
                        </ion-col>
                        <ion-col size="6"
                              (click)="goToProductPage(product._id)">
                                <div>
                                  <p class="product-price">${{product.price}}</p>
                                  
                                  <h6 class="product-title">{{product.title}}</h6>
                                  <app-ratings-stars [rating]="product.rating"></app-ratings-stars>
                                  <p class="product-duration">Duration: {{product.duration}} Mins</p>
                                  <p class="product-category"># {{product.category}}</p>
                                  <!-- <h5 class="product-reviews-length">Reviews {{product.reviews.length}}</h5> -->
                                </div>                 
                                
                        </ion-col>
        
                        <ion-toolbar *ngIf="this.authState">
                              <ion-buttons slot="start">
                                <ion-button id="cart-button">
                                  <ion-icon slot="start" name="cart-outline"></ion-icon>
                                </ion-button>
                              </ion-buttons>
                              <ion-buttons slot="end">
                                <app-favorite-icon
                                [id]="product._id"
                                [email]="this.userEmail"></app-favorite-icon>
                              </ion-buttons>
                        </ion-toolbar>  
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-col>
        </ion-row>

      </ion-col>

      <!-- AllProductsLg -->
      <ion-col *ngIf="this.categoryLg == 'all' && !this.skeletonDataLg" 
        size="12">

        <!-- Product -->
        <ion-row class="ion-justify-content-center ion-hide-lg-down">
          <ion-col size="7">
            <ion-row>
                <ion-col size-lg="4" *ngFor="let product of this.searchLoadedProducts">
                    <ion-row
                        class="products-product-wrapper ion-justify-content-center">
                        <ion-col class="product-photo" size="6"
                              (click)="goToProductPage(product._id)">
        
                        </ion-col>
                        <ion-col size="6"
                              (click)="goToProductPage(product._id)">
                                <div>
                                  <p class="product-price">${{product.price}}</p>
                                  
                                  <h6 class="product-title">{{product.title}}</h6>
                                  <app-ratings-stars [rating]="product.rating"></app-ratings-stars>
                                  <p class="product-duration">Duration: {{product.duration}} Mins</p>
                                  <p class="product-category"># {{product.category}}</p>
                                  <!-- <h5 class="product-reviews-length">Reviews {{product.reviews.length}}</h5> -->
                                </div>                 
                                
                        </ion-col>
        
                        <ion-toolbar *ngIf="this.authState">
                              <ion-buttons slot="start">
                                <ion-button id="cart-button">
                                  <ion-icon slot="start" name="cart-outline"></ion-icon>
                                </ion-button>
                              </ion-buttons>
                              <ion-buttons slot="end">
                                <app-favorite-icon
                                [id]="product._id"
                                [email]="this.userEmail"></app-favorite-icon>
                              </ion-buttons>
                        </ion-toolbar>  
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-col>
        </ion-row>
        
      </ion-col>
    
      <!-- No Search Results Message -->
      <ion-col *ngIf="this.categoryLg == 'all' && this.searchLoadedProducts.length == 0 && !this.skeletonDataLg" size="6.7">
        <h1>No results from search was found.</h1>
      </ion-col>
    </ion-row>
    
    <!-- Footer -->
    <div class="spacer-10x"></div>
    <ion-row class="ion-justify-content-center">
        <ion-col id="footer-products-page" size="12">
            <ion-list>
              <ion-item style="height: auto;" lines="none">
                <img id="footer-logo" height="80" src="../../../../assets/placeholders/placeholder-logo.svg" alt="Hypnosis Site Logo">
              </ion-item>
              <ion-item lines="none">
                <ion-label>Link</ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-label>Link</ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-label>Link</ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-label>Link</ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-label>Link</ion-label>
              </ion-item>
              <ion-item lines="none">
                <p class="footer-text">Website title - 2022</p>
              </ion-item>
              <ion-item>
                <ion-button (click)="goToContactPage()" id="footer-contact-us-button">
                  Contact Us
                </ion-button>
              </ion-item>
            </ion-list>
        </ion-col>
    </ion-row>

  </ion-grid>

  <ion-fab
    class="ion-hide-lg-up"
    (click)="scrollToTop()"
    id="fab-button" 
    vertical="bottom" 
    horizontal="end" 
    slot="fixed">
    <ion-fab-button>
      <ion-icon name="chevron-up-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
