<!-- Mobile Header -->
<ion-header class="ion-hide-lg-up">
  <ion-toolbar>
    <ion-buttons slot="start">
      <span style="margin-left: 1em;"></span>
      <img height="30" src="../../../../assets/placeholders/placeholder-logo.svg" alt="" srcset="">
    </ion-buttons>
    <ion-buttons slot="">
    </ion-buttons>
    <ion-buttons slot="end">
      <app-favorite-icon></app-favorite-icon>
      <ion-button (click)="close()">
        <ion-icon slot="start" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="trackPageLocation($event)">
  <ion-grid>

    <!-- Skeleton UI -->
    <ion-row *ngIf="this.skeletonData" class="ion-justify-content-center">
      <ion-col size-xs="12" size-sm="11" size-md="10" size-lg="8" size-xl="7">
        <div class="spacer-5x ion-hide-lg-down"></div>
        <div class="ion-text-center">
          <div class="ion-padding custom-skeleton">
            <ion-list>
              <ion-item lines="none">
                <ion-label>
                  <h3>
                    <ion-skeleton-text class="is-square" animated></ion-skeleton-text>
                  </h3>
                  <p>
                    <ion-skeleton-text class="is-text" animated style="width: 90%"></ion-skeleton-text>
                  </p>
                  <p>
                    <ion-skeleton-text class="is-text" animated style="width: 90%"></ion-skeleton-text>
                  </p>
                  <p>
                    <ion-skeleton-text class="is-text" animated style="width: 90%"></ion-skeleton-text>
                  </p>
                  <p>
                    <ion-skeleton-text class="is-text" animated style="width: 90%"></ion-skeleton-text>
                  </p>
                  <p>
                    <ion-skeleton-text class="is-text" animated style="width: 90%"></ion-skeleton-text>
                  </p>
                  <p>
                    <ion-skeleton-text class="is-text" animated style="width: 90%"></ion-skeleton-text>
                  </p>
                </ion-label>
              </ion-item>
            </ion-list>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row 
      *ngIf="!this.skeletonData"
      class="ion-justify-content-center">

      <!-- Toolbar-lg -->
      <ion-col size-xs="12" size-sm="11" size-md="10" size-lg="8" size-xl="6.7">
        <div class="spacer-5x ion-hide-lg-down"></div>
        <ion-toolbar class="ion-hide-lg-down">
          <ion-buttons slot="start">
            <ion-button class="back-button" (click)="close()">
              <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
              Back to Products
            </ion-button>
          </ion-buttons>
        </ion-toolbar>

        <div class="spacer-2x"></div>
        <ion-button 
        color="danger"
        class="ion-hide-lg-up"
        (click)="close()">
          <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
          Back
      </ion-button>
      <div class="spacer-2x"></div>
      </ion-col>

      <!-- Picture Header -->
      <ion-col class="ion-text-center" size-xs="12" size-sm="11" size-md="10" size-lg="8" size-xl="6.7">
        <div class="spacer-4x ion-hide-lg-down"></div>
        <img style="height: 300px;" src="../../../../assets/placeholders/placeholder-logo.svg" alt="" srcset="">
      </ion-col>

      <!-- Product Info -->
      <ion-col id="product-info-wrapper" size-xs="11" size-sm="11" size-md="10" size-lg="8" size-xl="6.7">

        <div class="spacer-2x"></div>

        <!-- Info -->
        <div id="product-info">
          <h1 class="product-price">${{productInfo.price}}</h1>
          <h3 class="product-title">{{productInfo.title}}</h3>
          <span class="product-duration"><b>Duration: </b>{{productInfo.duration}} Mins | </span>
          <!-- <p class="product-reviews-length"><b>Reviews:</b> {{productInfo.reviews.length}}</p> -->
          <span class="product-category">#{{productInfo.category}}</span>
        </div>

        <div class="spacer-2x"></div>

        <!-- Product Sample -->
        <!-- <div class="ion-text-center" id="product-page-sample-wrapper">

          <div class="ion-text-center">
            <ion-icon id="sample-icon" name="musical-notes-outline"></ion-icon>
            <div class="spacer-1x"></div>
          </div>

          <ion-button id="sample-button" (click)="playSample(this.sampleButtonIcon)">
            <ion-icon slot="start" name="{{this.sampleButtonIcon}}"></ion-icon>
             <span style="width: 8px;"></span>{{sampleButtonText}}
          </ion-button>

          <div id="sample-track">

            <div class="spacer-1x"></div>
            <div *ngIf="this.sampleToggle" id="sample-timer" class="ion-text-center">
              <div class="spacer-3x"></div>
              <h3>0:0{{sampleDuration}} / 0:20</h3>
              <ion-progress-bar  type="{{this.sampleProgressBarType}}"></ion-progress-bar>
            </div>
            <div class="spacer-2x"></div>

            <div *ngIf="this.sampleToggle" id="volume-track">
              <div class="spacer-1x"></div>
              <h5>Volume</h5>
              <ion-icon #decreaseVolumeButton (click)="decreaseVolume(decreaseVolumeButton)" class="sample-volume-button" name="arrow-down-circle-outline"></ion-icon>
              <ion-icon #inecreaseVolumeButton (click)="increaseVolume(inecreaseVolumeButton)" class="sample-volume-button" name="arrow-up-circle-outline"></ion-icon>
              <div class="spacer-1x"></div>
              
              <ion-progress-bar value="{{this.sampleMasterVolume}}"></ion-progress-bar>
              <div class="spacer-1x"></div>
            </div>
            <div class="spacer-5x"></div>
          </div>

        </div> -->

        <p class="description">
          {{productInfo.description}}
        </p>
        
      </ion-col>

      <!-- Related Products -->
      <ion-col id="related-products" size-xs="12" size-sm="11" size-md="10" size-lg="8" size-xl="6.7">
        
        <h2>Related Products</h2>
        <!-- Related Products Lg -->
        <ion-row id="related-product-wrapper-lg" class="ion-hide-md-down">
          <ion-col *ngFor="let relatedProduct of this.relatedProducts" class="related-product-outer-lg" size="4">
            <div class="related-product-inner-lg">
              <img class="related-product-photo-lg" src="../../../../assets/placeholders/placeholder-logo.svg" alt="Hypnosis Site Related Product photo">
              <div class="related-product-info-lg">
                <p>${{relatedProduct.price}}</p>
                <p>{{relatedProduct.title}}</p>
                <p>Duration: {{relatedProduct.duration}}</p>
                <p>Reviews: {{relatedProduct.reviews.length}}</p>
                <p>#{{relatedProduct.category}}</p>
                <app-ratings-stars [rating]="relatedProduct.rating"></app-ratings-stars>
              </div>

              <!-- Add to Cart Button -->
              <div class="related-product-add-cart-lg">
                <ion-button class="related-product-add-cart-lg" expand="block">
                  Add to Cart
                </ion-button>
              </div>
            </div>

          </ion-col>
        </ion-row>
      
        <!-- Related Products Mobile -->
        <swiper
          id="related-swiper"
          class="ion-hide-md-up"
          [config]="relatedProductsSwiperConfig" 
          (swiper)="onSwiper($event)">

            <ng-template swiperSlide *ngFor="let relatedProduct of this.relatedProducts">
              <ion-row
                class="product-wrapper ion-justify-content-center">
                <ion-col size="12">
                  <img src="../../../../assets/placeholders/placeholder-logo.svg" alt="Hypnosis Site Related Product Photo">
                </ion-col>
                <ion-col size="11">
                  <p class="product-price">${{relatedProduct.price}}</p>
                  <h6 class="product-title">{{relatedProduct.title}}</h6>  
                  <app-ratings-stars [rating]="relatedProduct.rating"></app-ratings-stars>
                  <p class="product-duration">Duration: {{relatedProduct.duration}} Mins</p>
                  <p class="product-category">#{{relatedProduct.category}}</p>
                  <h5 class="product-reviews-length">Reviews: {{relatedProduct.reviews.length}}</h5>

                 
                  <ion-toolbar *ngIf="this.authState">
                    <ion-buttons #cartButton  slot="start">
                      <img class="cart-button" (click)="tryAddToCart(relatedProduct._id, relatedProduct.title, cartButton)" *ngIf="!this.cart.includes(relatedProduct._id)" src="../../../../assets/icons/add-to-cart.svg" alt="Hypnosis Downloads Product">
                      <img class="cart-button" (click)="tryRemoveFromCart(relatedProduct._id, relatedProduct.title, cartButton)" *ngIf="this.cart.includes(relatedProduct._id)" src="../../../../assets/icons/remove-from-cart.svg" alt="Hypnosis Downloads Product">
                    </ion-buttons>
                  <ion-buttons slot="end">
                    <app-favorite-icon [id]="relatedProduct._id"></app-favorite-icon>
                  </ion-buttons>
                  </ion-toolbar>

                </ion-col>
              </ion-row>
            </ng-template>

        </swiper>

      </ion-col>

      <!-- Bottom Buttons -->
      <ion-col 
        id="product-bottom-buttons" 
        size-xs="11" size-sm="11" size-md="10" size-lg="8" size-xl="6.7">
        <div class="spacer-5x"></div>
        <ion-button 
          id="back-button-lg" 
          (click)="close()">
          <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
          Back to Products
        </ion-button>
        <ion-button *ngIf="this.authState"
          id="favorite-button-lg" 
          (click)="favoriteToggle()">
          <!-- Add isLg property that changes class depending on viewport size -->
          <ion-icon slot="start" name="heart"></ion-icon>
          {{favoriteButtonMessage}}
        </ion-button>
        <ion-button 
          *ngIf="this.authState"
          color="success"
          id="add-review-button-lg" 
          (click)="tryAddReview()">
          <!-- Add isLg property that changes class depending on viewport size -->
          <ion-icon slot="start" name="plus"></ion-icon>
          Add Review
        </ion-button>
        <div *ngIf="this.reviewInputToggle" lines="none">
        <app-rating-picker (sendRating)="getRating($event)"></app-rating-picker>
          <ion-textarea 
            #reviewInput
            rows="10" 
            placeholder="Add message here: " 
            id="product-page-review-input">
          </ion-textarea>
          <div class="ion-text-center">
            <ion-button id="post-review-button" (click)="postReview(reviewInput.value)" color="danger">
              Post Review
            </ion-button>
          </div>
        </div>
        <ion-button 
          id="reviews-button" 
          [ngClass]="this.reviewDisplay ? 'hide-reviews-button' : 'show-reviews-button'" 
          (click)="toggleReviews()">
          <ion-icon name="chatbubbles-outline"></ion-icon>
            {{reviewButtonMessage}}
        </ion-button>
        
        <div class="spacer-4x"></div>
        <div id="product-page-login-wrapper" *ngIf="!this.authState">
          <p class="static-alert-blue" style="width: 250px; margin: 0 auto;">Log in to post a Review</p>
          <ion-button id="product-page-login-button" color="primary" (click)="goToLoginPage()" expand="block" *ngIf="!this.authState">
            Login
          </ion-button>
        </div>
      </ion-col>

      <!-- Reviews -->
      <ion-col 
        *ngIf="this.reviewDisplay" id="reviews" 
        size-xs="12" size-sm="11" size-md="10" size-lg="8" size-xl="6.7">

        <div id="reviews-wrapper">
          <div class="review" *ngFor="let review of this.productInfo.reviews" >

            <!-- Name & Pic -->
            <div class="ion-align-items-center">
              <img height="30" src="../../../../assets/placeholders/profile-icon.svg" alt="Hypnosis Site Review Profile Picture">
              <span class="reviewer-name">{{review.reviewerUsername}}</span>
              <span class="review-date ion-float-right">{{review.date}}</span>
            </div>

            <!-- Ratings Stars -->
            <ion-toolbar id="feaproduct-lg-lower-toolbar">
              <app-ratings-stars [rating]="review.rating"></app-ratings-stars>
              
              <ion-buttons slot="end">
              </ion-buttons>
            </ion-toolbar>

            <!-- Review -->
            <p>"{{review.review}}"</p>

          </div>
          <div id="reviews-scroll-position"></div>
        </div>

        <!-- Back to Products page button -->
        <div class="ion-text-center">
          <ion-button 
          id="back-button-reviews-lg" 
          (click)="close()">
          <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
          Back to Products
          </ion-button>
        </div>

        <div class="spacer-5x"></div>
      </ion-col>
      <div id="reviews-scroll-to"></div>

      <!-- Footer -->
      <ion-col id="footer-products-page" [ngClass]="this.footerScrollIntoView ? 'footer-in' : 'footer-out' " size="12">
        <ion-list>
          <ion-item style="height: auto;" lines="none">
            <img id="footer-logo" height="80" src="../../../../assets/icons/logo_draft_w_text_dark.svg" alt="Hypnosis Site Logo">
          </ion-item>
          <ion-item lines="none">
            <ion-label>Link</ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Link</ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Link</ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Link</ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Link</ion-label>
          </ion-item>
          <ion-item>
            <ion-button (click)="goToContactPage()" class="footer-contact-us-button">
              Contact Us
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>

<!-- Mobile Add to Cart Button -->
<ion-footer 
  *ngIf="this.authState"
  id="add-to-cart-mobile-products-page" 
  class="ion-hide-lg-up ion-text-center" 
  (click)="addToCart()">
  <ion-button>
    <ion-icon name="cart-outline" style="color: #fff;" size="large"></ion-icon>
    <span style="margin-left: 1em;"></span>
    Add to Cart</ion-button>
</ion-footer>
