@import 'swiper/scss';
@import "~swiper/css";

#product-info-wrapper {

    
    .product-title {
        height: 40px;
        color: #fff;
    }

    #product-info {

        background: #000000;
        border-radius: 5px;
        padding: 1em;

        .product-price {
            font-weight: 600;
            color: #00ff00;
            width: 100px;
        }

        .product-duration {
            font-size: 1.2em;
            color: #fff;
        }
    
        .product-category {
            font-size: 1.2em;
            color: #1bbbec;
        }
    
        .product-reviews-length {
            font-size: 1em;
            color: #fff;
        }
    

    }
    .description {
        border-bottom: 1px solid #dedede;
        font-size: 1.2em;
        padding-bottom: 1em;
    }
    
    .product-photo {
        background-image: url('../../../../assets/placeholders/placeholder-logo.svg');
        background-size: contain;
        background-repeat: no-repeat;
    }

    #sample-icon {
        font-size: 2em;
    }

    #sample-track {
        width: 80%;
        height: auto;
        // background: #dedede;
        margin: 1em auto;
        opacity: 0;
        pointer-events: none;

        #volume-track {
            background: #dedede;
            border-radius: 5px;
            margin: 1em auto;
            padding: 0.1em;
            opacity: 0;
            animation: volume-track-slide-up 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) forwards;



            .sample-volume-button {
                font-size: 2em;
                color: #222;
                margin: 0 0.5em;
                --background: none;
                display: inline-block;
            }
        }

        

        @keyframes volume-track-slide-up {
            0% {
                transform: translateY(20px);
            }
            100% {
                opacity: 1;
                transform: translateY(0px);
            }
        }
    }
}    
#related-products {
    padding-bottom: 3em;
    border-bottom: 1px solid #dedede;

    h2 {
        margin-left: 1em;
    }

    .related-product-add-to-cart-products-page {
        img {
            height: 28px;
        }
    }
}
#related-product-wrapper-lg {
    .related-product-outer-lg {

        ion-toolbar {
            background: none;
        }

        .related-product-inner-lg {
            width: 90%;
            height: 330px;
            background: #dedede;
            margin: 1em auto;
            position: relative;
            border-radius: 5px;
        }

        .related-product-photo-lg {
            width: 100%;
            height: 120px;
        }

        .related-product-info-lg {
            padding: 1em;
        }

        .related-product-add-cart-lg {
            position: absolute;
            bottom: 0;
            height: 40px;
            background: green;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            p {
                color: #fff;
            }
        }
    }
}
#related-swiper {
    height: 63vh;
    transition: 0.3s;
    padding: 0.5em;

    .product-wrapper {
        box-shadow: 1px 1px 10px #dedede;
        border-radius: 10px;
        margin: 1em auto;
    }

}

#reviews-button {
}

#back-button-reviews-lg {
    --background: none;
    --border-style: solid;
    --border-width: 2px;
    --border-solid: #999;
    --color: #999;
    width: 250px;
    
}

#reviews-wrapper{

    background: rgb(245, 245, 245);
    padding: 2em;
    margin-bottom: 2em;
    color: #333;

    #reviews-scroll-position {

    }

    .review {
        // background: #dedede;
        height: auto;
        width: 100%;
        padding: 0.5em;
        border-radius: 5px;
        margin: 1em auto 4em auto;
        opacity: 0;

        .reviewer-name {
            position: relative;
            top: -8px;
            left: 8px;
        }

        .review-date {
            position: relative;
            top: 6px;
            right: 8px;
        }

        .product-lg-lower-toolbar {
            position: relative;
            top: -10px;
        }
    }

    .review:nth-child(1) {
        animation: review-slide-in 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s forwards;
    }
    .review:nth-child(2) {
        animation: review-slide-in 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.3s forwards;
    }
    .review:nth-child(3) {
        animation: review-slide-in 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.6s forwards;
    }
    .review:nth-child(4) {
        animation: review-slide-in 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.9s forwards;
    }
    .review:nth-child(5) {
        animation: review-slide-in 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 1.2s forwards;
    }
    .review {
        animation: review-slide-in 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 1.4s forwards;
    }

    @keyframes review-slide-in {
        0% {
            transform: translateX(-10px);
        }
        100% {
            transform: translateX(0px);
            opacity: 1;
        }
    }
}

#reviews-scroll-to {
    height: 400px;
}

#product-bottom-buttons-lg {

    ion-button {

        --background: none;
        --border-style: solid;
        --border-width: 3px;
        width: 250px;
        margin: 0.8em auto;

        ion-icon {
            position: absolute;
            left: 0;
        }
    }

    #post-review-button {
        margin: 2em auto;
    }

    #back-button-lg {
        --border-solid: #999;
        --color: #999;
        display: block;
    }

    #favorite-button-lg {
        --border-solid: #ff5353;
        --color: #ff5353;
        display: block;
        
    }
    #add-review-button-lg {
        display: block;
        
    }

    #product-page-review-input {
        --background: #f6f6f6;
        box-shadow: 1px 1px 10px #dedede;

    }
    
    .show-reviews-button {
        --border-solid: #0055a5;
        --color: #0055a5;
        display: block;
        
    }
    
    .hide-reviews-button {
        --border-solid: #444;
        --color: #999;
        display: block;
    }

}

#footer-products-page {
    background: #333;
    border-radius: 20px 20px 0 0;
    height: auto;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5em 0;

    .footer-text {
        color: #b6b6b6;
    }

    ion-item {
        color: #fff;
        text-align: center;
        font-size: 1.3em;
        height: 60px;

        #footer-contact-us-button {
            margin: 0 auto;
            height: 50px;
            width: 100%;
            font-size: 1em;
        }

        #footer-logo {
            margin: 2em auto;
        }
    }
}

.footer-in {
    opacity: 1;
    animation: footer-slide-up 1s cubic-bezier(0.47, 0, 0.745, 0.715) forwards;
    
}
.footer-out {
    opacity: 0;
}

@keyframes footer-slide-up {
    0% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0px);
    }
}

ion-footer {
    ion-button {
        height: 50px;
        width: 100%;
        --transition: 0.5s;
        --border-radius: 0px;
        --background: #00c400;
        --ripple-color: rgb(255, 153, 0);
    }
}