<ion-header class="ion-hide-lg-up">
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-button id="top-bar-logo">
            <img height="40" src="../../../assets/icons/logo_draft_1.svg" alt="User Profile Icon">
        </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
        <ion-button *ngIf="!this.authState" id="top-bar-login-button" (click)="goToLoginPage()">
            Log in
        </ion-button>
        <ion-button *ngIf="this.authState" id="top-bar-logout-button" (click)="logout()">
            Log out
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
