#add-to-cart-message {
    background: #fff;
    padding: 1em 1em 2em 1em;
    text-align: center;
    font-size: 1.3em;
    border-radius: 5px;
    // box-shadow: 1px 1px 10px #dedede;

    .cart-button {
        width: 100px;
    }
}


.cart-not-empty {
    height: 50px;
    width: 100%;
    --transition: 0.5s;
    --border-radius: 0px;
    --background: #b93333;
    --ripple-color: rgb(255, 204, 128);
}
.cart-empty {
    height: 50px;
    width: 100%;
    --transition: 0.5s;
    --border-radius: 0px;
    --background: #8b8b8b;
    --color: #222;
    --ripple-color: rgb(255, 204, 128);
}

.product-wrapper {
    height: auto;
    border-radius: 5px;
    background: #f2f2f2;
    margin-bottom: 10px;
    padding: 1em;
    opacity: 0;
    transition: 0.5s;
    animation: products-slide-up 1s cubic-bezier(0.215, 0.610, 0.355, 1) forwards;

    .product-duration {
        font-size: 0.7em;
        color: #999;
    }

    .product-category {
        font-size: 0.6em;
        color: #5a5a5a;
    }

    .product-reviews-length {
        font-size: 0.6em;
        color: #5a5a5a;
    }

    .product-title {
        height: 40px;
        margin-bottom: 1em;
    }

    .product-rating {

    }

    .product-price {
        display: flex;
        align-items: center;
        border-left: 2px solid #0055a5;
        font-weight: 600;
        color: #333;
        padding: 0.3em;
        width: 65px;
        height: 18px;
        margin-top: 1em;
    }
    .product-photo {
        background-image: url('../../../assets/placeholders/placeholder-logo.svg');
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        height: 200px;
    }

    ion-toolbar {
        // --background: none;
        // position: absolute;
        // bottom: 0;

        ion-buttons {

            .favorite-this-product-button {
                --background: #ffbbbb;
                --border-radius: 50px;
                text-align: center;
                border-radius: 57px;
                height: 40px;
                padding-left: 6px;
            }

            .cart-button {
                width: 100px;
            }
            
        }
    }

    ion-icon {
        font-size: 2em;
    }

    .product-message-green {
        border-left: 4px solid red;
    }
    .product-message-red {
        border-left: 4px solid green;
    }
}

@keyframes products-slide-up {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);

    }
}

#footer-cart-page {
    background: #333;
    border-radius: 20px 20px 0 0;
    height: auto;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5em 0;

    .footer-text {
        color: #b6b6b6;
    }

    ion-item {
        color: #fff;
        text-align: center;
        font-size: 1.3em;
        height: 60px;

        #footer-contact-us-button {
            margin: 0 auto;
            height: 50px;
            width: 100%;
            font-size: 1em;
        }

        #footer-logo {
            margin: 2em auto;
        }
    }
}