/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// Ionic
ion-grid {
    padding: 0;
}
ion-toolbar {
    --background: none;
}
ion-item {
    color: #444;
}
ion-checkbox {
    border: 2px solid #222428;
    border-radius: 3px;
}
ion-skeleton-text {
    --background-rgb: 0,85,165;
    margin: 0.5em 0;
}
.is-square {
    height: 75px;
    width: 75px;
}
.is-text {
    width: 100%;
    line-height: 15px;
}
.ion-accordion-toggle-icon {
    color: #333 !important;
}
.success-toast {
    --background: #02b10a;
    --color: #fff;
    font-size: 1.2em;
}
.danger-toast {
    --background: red;
    --color: #fff;
    font-size: 1.2em;
}
.add-to-cart-toast {
    --background: #999 !important;
    --border-style:solid !important;
    --border-width: 2px !important;
    --border-color: red !important;
    --color: #fff;
    font-size: 1.2em;

    .ionicon .s-ion-icon {
        fill: #fff;
    }
}
.login-loading {
    --background: green;
    --min-height: 200vh;
    --min-width: 200vw;
    color: white;
}
.forgot-password-loading {
    --background: #2dda2d;
    --min-height: 200vh;
    --min-width: 200vw;
    color: white;
}
.cart-transition-loading {
    --background: rgb(42, 58, 42);
    --min-height: 200vh;
    --min-width: 200vw;
    color: white;
}

// 
* {
    margin: 0;
    transition: 0.5s;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Signika', sans-serif;
    color: #222;
}

p {
    font-family: 'Arial', sans-serif;
    color: #444;
}

.row-margin {
    margin: 2em auto;
}

.desktop-page-header {
    margin-top: 3em;
    font-size: 2.3em;
}
.page-content-wrapper {
    // background: #999;
    height: 600px;
}

// Buttons
.back-button-lg {
    --background: #999;
}

// Spacers
.spacer-10x {
    margin-top: 10em;
}
.spacer-5x {
    margin-top: 5em;
}
.spacer-5x {
    margin-top: 5em;
}
.spacer-4x {
    margin-top: 4em;
}
.spacer-3x {
    margin-top: 3em;
}
.spacer-2x {
    margin-top: 2em;
}
.spacer-1x {
    margin-top: 1em;
}

// Horizontal Spacers
.hr-spacer-3x {
    width: 1.5em;
}
.hr-spacer-2x {
    width: 1em;
}
.hr-spacer-1x {
    width: 0.5em;
}

// Validation
.validation-error-message {
    color: white;
    background: red;
    padding: 0.5em;
}

// Static Alerts
.static-alert-yellow {
   background: #fff3ad; 
   border-left: 6px solid #ffd900;
   padding: 0.5em;
   margin: 1em auto;
   display: block;
}
.static-alert-red {
   background: #ff8a8a86; 
   border-left: 6px solid #f51818;
   padding: 0.5em;
   margin: 1em auto;

}
.static-alert-blue {
   background: #a1caff; 
   border-left: 6px solid #006eff;
   padding: 0.5em;
   margin: 1em auto;
}


@media only screen and (min-width: 500px) {
    .static-alert-yellow, 
    .static-alert-red,
    .static-alert-blue {
      width: 400px;
    }
  }

@media only screen and (min-width: 800px) {
    .static-alert-yellow, 
    .static-alert-red,
    .static-alert-blue {
      width: 500px;
    }
  }

// Swiper
// Related
.swiper {
    width: auto;
    height: 45vh;
}
.swiper-slide {
  font-size: 18px;
//   background: #d4d4d4;
  border-radius: 10px;
//   box-shadow: 1px 1px 5px #999;
  margin: 0 2em 0 0;
//   width: 300px !important;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  height: 200px;
  width: 100%;
//   object-fit: cover;
}

// Media Queries
@media screen and (min-width: 996px) {
    .shadow-desktop {
        box-shadow: 15px 16px 28px 0 #0000001c;
    }
    .row-margin {
        margin: 5em auto;
    }
    
}

